/*
	Theme Name: Mobey 
	Theme URI: http://html5blank.com
	Description: Mobey theme, made from HTML5 Blank WordPress Theme
	Version: 1.4.3
	Author: Olli Makkonen Todd Motto (@toddmotto)
	Author URI: http://codens.com
	Tags: Blank, HTML5, CSS3

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/

/*------------------------------------*\
    MAIN
\*------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700,800');

/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
/* html element 62.5% font-size for REM use */
html {
	font-size:62.5%;
margin: 0;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
  font-weight: 300;
  line-height: 1.56;
 background:  url('img/banner-tausta.jpg') repeat-x 0px 0px;
 /* background:  url('img/body-bg-mask.png') repeat-x 50% 0%; */
 padding: 0;
}
body.page-template-template-frontpage {
background: url('img/hero-bg.jpg') repeat-x 50% 0%;

}

/* clear */
.clear:before,
.clear:after {
    content:' ';
    display:table;
}

.clear:after {
    clear:both;
}
.clear {
    *zoom:1;
}
.center{
text-align: center;
}
.size-half{
max-width: 678px;
margin-left: auto;
margin-right: auto;
}

img {
	max-width:100%;
	vertical-align:bottom;
}
a {
color: #f31168;
	text-decoration:none;
}
a:hover {
  color: #ff0000;
text-decoration:none;
}
a:focus {
color: #ce326e;
text-decoration:none;
}
a:hover,
a:active {
	outline:0;
}

h1,h2,h3,h4{
font-weight: bold;
 color: #292929;
}
h1{
font-size: 34px;

}
h2{
font-size: 34px;
}
h3{
font-size: 26px;
margin-bottom: 10px;
}
h4{
font-size: 22px;
text-transform: uppercase;
font-weight: 600;
}
.white-text, .white, .white-text h1, .white-text h2, .white-text h3, .white-text h4{
color: white;
}
.right{
float: right;
}
.left{
float: left;
}
.bold{
font-weight: bold;
}
.caps{
text-transform: uppercase;
}
.align-center{
text-align: center;
}
.bigtext{
font-size: 22px;
}
.size30{
font-size: 30px;
}

.size26{
font-size: 26px;
}
.size24{
font-size: 24px;
}

.size20{
font-size: 20px;
line-height: 1.7;
}
.size16{
font-size: 16px;
}
.size14{
font-size: 14px;
}

.size13{
font-size: 13px;
}

.light{
font-weight: 300;
}
.middle{
vertical-align:middle;
}
.italic{
font-style: italic; 
}
.hidden{
display: none;
}
.white, .white h2, .white h1{
color: white;
}

.s50{
  -moz-transform:scale(0.5);
    -webkit-transform:scale(0.5);
    transform:scale(0.5);
}
.s35{
  -moz-transform:scale(0.35);
    -webkit-transform:scale(0.35);
    transform:scale(0.35);
}

.tt-none{
text-transform: none;
}


html .size14{
font-size: 14px;
}
.sans{
	font-family: 'Open Sans', sans-serif;
}
.center-margin{
display: inline.block;
margin-left: auto;
margin-right: auto;
}

.button,  html .um .input[type=submit].um-button, html .um input[type=submit].um-button, input#um-submit-btn{

display: inline-block;

  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  width: 212px;
  text-align: center;
  padding-top: 14px;
  text-transform: uppercase;
  padding-bottom: 14px;
    border-radius: 3px;
   background-size: 200% auto; 
border: none;
margin-bottom: 10px;
}
.button:hover{
cursor:pointer;
}

.primary, html .um .input[type=submit].um-button, html .um input[type=submit].um-button, input#um-submit-btn, .button {
  background-image: linear-gradient(to right, #902e7a 0%, #c7276f 50%);
}
.primary, .secondary{
margin-left:10px;
margin-right: 10px;  
}
.secondary{
 background-image: linear-gradient(to right, #ff7800 0%, #ffc600 50%); 

}
.secondary:hover{
   color: #ffffff;
   text-decoration:none;
     background-image: linear-gradient(to right, #ff4b00, #ff8400);
}
.primary:hover, .button:hover {
   color: #ffffff;
   text-decoration:none;
    background-image: linear-gradient(to right, #5b2e90, #a427c7);
   
}

.small-button {
padding-left: 44px;
padding-right: 44px;
 font-size: 11px;
padding-top: 11px;
  text-transform: uppercase;
  padding-bottom: 11px;
  border-radius: 3px;
  background-image: linear-gradient(to right, #902e7a, #c7276f);
  color: white;
}
.thin-button{
width: auto;
}

.small-button:hover{
color: white;
 background-image: linear-gradient(to right, #5b2e90, #5b2e90);
}
.search{
margin-top: 40px;
margin-bottom: 30px;
}
body.search
{
  margin-top: 0px;
  margin-bottom: 0px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#b4b4b4;
}
::-moz-placeholder { /* Firefox 19+ */
  color:#b4b4b4;
}
:-ms-input-placeholder { /* IE 10+ */
  color:#b4b4b4;
}
:-moz-placeholder { /* Firefox 18- */
  color: #b4b4b4;
}

.search-submit{
padding: 32px;
padding-top: 10px;
padding-bottom:10px;
width: auto;
}
.search-input1{
border: 2px solid white;
border-radius: 2px;
height: 39px;
color: black;
font-size: 14px;
line-height: 1.71;
background: white url('img/search-128-copy@2x.png') no-repeat 12px 11px;
background-size: 14px 13px;
padding-left: 36px;
padding-right: 10px;
width: 262px;
margin-bottom: 10px;
}
input[type="text"].search-input1::-webkit-input-placeholder {
  color: #b4b4b4;
}

html body .fixedTop-main{
  position: fixed;
  right: 0;
  top: 0; 
  width: 100%;
height: 60px;
background-color: #e95146;
z-index: 150;
}



/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* wrapper */
.wrapper {
	max-width:1142px;
	width:95%;
	margin:0 auto;
	position:relative;
}
/* wrapper */

/* header */
.home .header{
position: absolute;
z-index: 10;
width: 100%;
}

/* logo */
.logo {
float: left;
margin-top: 43px;
}
.logo-img {
width: 224px;
height: 44px;
}
/* nav */
.nav {
margin-top: 53px;
margin-left: 0px;
float: right;
width:  780px;
text-align: right;
}

/* logo */
html body .fixedTop-main .logo {
float: left;
margin-top: 14px;
}

/* nav */
html body .fixedTop-main .nav {
margin-top: 13px;
margin-left: 0px;
float: right;
width:  790px;
}

.nav ul {margin: 0; padding: 0; 
	list-style-type: none; list-style-image: none; 
	
	}
.nav li {display: inline; }
.nav li a, .login-button, .logout-button{

  font-size: 12px;
  font-weight: 800;

  
  color: #ffffff; 
  text-transform: uppercase;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 6px;
  padding-bottom: 6px;
  }
 .big-login-button{
   padding-top: 14px;
  padding-bottom: 14px;
 } 
  
 .nav li.current_page_item a, .nav li a:hover, .login-button:hover, .login-icon:hover, .mobile-menu ul li a:hover, html .login-button:hover{
 color: #ffed00;
 cursor:pointer;
 }
  
.nav li.menu-item-9140 a{  
   border-radius: 2px;
 background-image: linear-gradient(to right, #902e7a, #c7276f);
    padding-left: 24px;
  padding-right: 24px;
    padding-top: 4px;
  padding-bottom: 4px;
}
.nav li.menu-item-9140 a:hover{  
   color: #ffffff;
   text-decoration:none;
    background-image: linear-gradient(to right, #5b2e90, #a427c7);
}
.nav li.login-button, .nav li.logout-button a, .login-button  {  

}
.login-icon{
width: 70px;
color: white;
vertical-align:baseline;
padding-left: 20px;
padding-right: 0px;
background: url('img/lock.png') no-repeat center left;
margin-left: auto;
margin-right: auto;
}


.nav li.login-button:hover { 
cursor: pointer;
}
.nav li.logout-button{
background: url('img/lock.png') no-repeat 12px 7px;
display: none;
}
.logged-in .nav li.login-button{
display: none;
}
.logged-in .nav li.logout-button{
display: inline;
}

.nav .menu-item-9132, .mobile_nan_wrap .menu-item-9132{
display: none;
}
.logged-in .menu-item-9132{
display: inline;}
.logged-in .menu-item-9140{
display: none;
}


.search-icon{
 background: url('img/search-128@2x.png') no-repeat 50% 55%;
 background-size: 13px 12px;
 width: 13px;
 height: 12px;
 padding:6px;
 padding-left: 16px;
 padding-right: 16px;
display: inline;
}
.search-icon:hover{
cursor:pointer;
}
/* logo */
html body .fixedTop-main .nav li a{
  line-height: 300%;
}

.search-front{
margin:0;
padding:0;
height: 40px;
}

.search-tooltip{
position: absolute;
top: 94px;
right: -12px;
width: 300px;
height: 40px;
background: white;
z-index: 50;
padding:0;
display: none;
}


.search-tooltip::after {
 content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    right: 17px;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent white transparent;

}
html body .fixedTop-main .search-tooltip{
display: none;
} 

.search-tooltip .search-input2{
border: 0px;
background: transparent;
line-height: 38px;
padding-left: 10px;
padding-right: 10px;
width: 236px;
margin:0;
float: left;
}
.search-tooltip .search-submit{
border: 0px;
background: transparent url('img/search-gray2x.png') no-repeat 10px 10px;
background-size: 19.5px 18px;
padding:0;
height: 36px;
width: 40px;
margin:0;
float: right;
margin-right: 6px;
}
.search-tooltip .search-submit:hover{
background: transparent url('img/search-black2x.png') no-repeat 10px 10px;
background-size: 19.5px 18px;
}


/* sidebar */
.sidebar {

}
/* footer */
.footer {
  background: url('img/new-footer-bg.png') repeat-x;
height: 122px;
width: 100%;
clear: both;
}
.footer .wrapper{
max-width: 1140px;
position:relative;
}
.footer-logo{
display: inline-block;
width: 166px;
height: 33px;
margin-top: 40px;
}
.footer-logo .logo-img, .fixedTop-main .logo-img{

width: 166px;
height: 33px;
}

.footer-copyright{
position: absolute;
left: 50%;
width: 400px;
top:0;
margin-left: -200px;
margin-top: 40px;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  color: #acacac;
}
.footer-bright{
  color: #ffffff;
}

.footer-social-media{
float: right;
margin-top: 40px;
padding-top: 8px;
}
.facebook-logo{
  width: 21px;
  height: 21px;
}
.twitter-logo{
  width: 21px;
  height: 21px;
  margin-left: 25px;
  margin-right: 25px;
}
.linkedin-logo{
  width: 21px;
  height: 21px;
}


/*------------------------------------*\
    Frontpage
\*------------------------------------*/
#HeroCarousel{
height: 645px;
width: 100%;

}

div#HeroCarousel div.carousel-inner {
height: 645px;
width: 100%;

}
div#HeroCarousel div.carousel-inner .item{
height: 645px;
overflow: hidden;
width: 100%;
}
div#HeroCarousel div.carousel-inner .item-inner{
height: 645px;
display: flex;
justify-content: center;
  flex-direction: column;
width: 100%;
margin: auto;
padding-bottom: 100px;
}
div#HeroCarousel .carousel-inner .item, #EventCarousel .carousel-inner .item{

    width: 100%;
    padding: 0px;

}

div#HeroCarousel .carousel-control{
z-index: 5;
}
div#HeroCarousel .content-absolute{
z-index: 5;
position: relative;
text-align: center;
width: 100%;
}


div#HeroCarousel div.carousel-inner .item p, div#HeroCarousel div.carousel-inner .item h1{
line-height: 130%;
max-width: 562px;
margin-left: auto;
margin-right: auto;
}
div#HeroCarousel div.carousel-inner .item p{
font-weight: 300;
max-width: 562px;
margin-left: auto;
margin-right: auto;
}

#HeroCarousel .slider-image{
width: 2226px !important;
height: 645px !important;
max-width: 2226px !important;
max-height: 645px !important;
margin-left: -1113px;
 
position: absolute;
top: 0; 
left:50%;
margin-top: 0;

}


.hero-indicators{
position: absolute;
margin-top: 10px;
z-index: 5;
bottom: 116px;
width: 100%;
}
.hero-indicator{
display: inline-block;
}
.indicator-button{

min-width: 83px;

margin-left: 5px;
margin-right: 5px;
border-radius: 2px;
border: solid 1px #ffffff;
padding: 3px;
font-size: 12px;
  font-weight: bold;
padding-left:10px;
padding-right:10px;
}
.hero-indicator:hover{
cursor: pointer;
}
.indicator-dot {
margin-top: 14px; 
width: 6px; 
height: 6px; 
background: red; 
-moz-border-radius: 3px; 
-webkit-border-radius: 3px; 
border-radius: 3px;
opacity: 0.35;
  background-color: #ffffff;
  margin-left: auto; 
  margin-right: auto;
}
.red-dot{
width: 8px;
  height: 8px;
  -moz-border-radius: 4px; 
-webkit-border-radius: 4px; 
border-radius: 4px;
  margin-left: 2px;
  margin-right: 6px;
  background-color: #ff5400;
  float: left;
  margin-top: 8px;
}
.red-shout{
width: 18px;
  height: 8px;
  color: #ff5400;
    float: left;
  margin-top: 0px;
  font-weight: bold;
}

.hero-indicator.active .indicator-button{
  background-color: #ffffff;
 border: solid 1px #ffffff;
   color: #e55043;
}
.hero-indicator.active .indicator-dot{
opacity: 1;
}
.left.carousel-control{
width: 23px;
height: 19px;
background: url('img/nuoli-left.png') no-repeat;
opacity: 1;
position: absolute;
z-index: 5;
}
.right.carousel-control{
width: 23px;
height: 19px;
background: url('img/nuoli-right.png') no-repeat;
opacity: 1;
position: absolute;
z-index: 5;
}
.arrow-wrapper{
position: relative;
top: -160px;
width: 95%;
max-width: 1100px;
margin-left: auto;
margin-right: auto;

}

.right.carousel-control:hover{
background: url('img/nuoli-hover-right.png') no-repeat;
}
.left.carousel-control:hover{
background: url('img/nuoli-hover-left.png') no-repeat;
}
html .carousel-pbc{
max-width: 1000px;
margin-left:auto;
margin-right: auto;
border:0;
}
html .carousel-pbc .bpc{
background: transparent;
width: 240px;
border:0;
}
html .carousel-pbc .bpc-divider{
display: inline-block;
width: 1px;
background: white;
opacity: 0.4;
height: 108px;
}

.mobey-day-diamond{
position: absolute;
top: 561px;
left: 50%;
margin-left: -88.5px;
width: 177px;
height: 165px;
padding-top: 8px;
padding-left: 0px;
background: url('img/valkonen-tausta@2x.png') no-repeat;
background-size: 177px 165px;
}
.mobey-day-diamond img{
width: 159px;
height: 154px;
}

#frontpage-hero .wrapper{
margin-top: 0px;
max-width: 100%;
width: 100%;
margin-bottom:  70px;
position: relative;
}
.hero-buttons{
margin-top: 10px;
}
.hero-text{
margin-top: 0px;
}

.maintext .wrapper{
max-width: 950px;
padding-bottom: 40px;
}

.join-mobey-forum{
padding-top: 20px;
padding-bottom: 20px;
color: white;
text-align: center;
  background-image:  linear-gradient(to left, #cd4141, #f54e4e, #cd4141);
}
.join-mobey-forum h3{
margin-bottom: 0px;
}
.join-mobey-forum p{
margin-bottom: 26px;
margin-top: 14px;
}
.mobey-events{
background: white;
}
.mobey-events .wrapper{
max-width: 1140px;
padding-top: 20px;


}
.featured-event-container{
margin-top: 40px;
position: relative;
border: 1px solid #e3e3e3;
width: 100%;
height: 437px;
background: white;
}
.featured-event-image{
width: 52.5%;
max-width: 600%;
height: 436px;
float: left;
}
.event-image-mask{
float: right;
}

.featured-event-content{
width: 47.5%;
height: 436px;
float: left;
margin:0;
padding:0;
}
.featured-event-heading{
margin:0;
padding:0;
  width: 100%;
  height: 136px;
padding-top: 16px;
padding-left: 25px;
  background: #59485b;
  background-image: url('img/mobey-event.diamond.png'); /* fallback */
  background-image: url('img/mobey-event.diamond.png'), linear-gradient(to left,#605086, #372366); /* W3C */
  background-repeat: no-repeat;
  background-position: 112% 60%;
}
.featured-event-heading-no-diamond{
margin:0;
padding:0;
  width: 100%;
  height: 136px;
padding-top: 16px;
padding-left: 25px;
  background: #59485b;
   background-image: linear-gradient(to left,#605086, #372366); /* W3C */
}

.featured-heading{
margin:0;
padding:0;
color: white;
font-size: 48px;
line-height: 120%;
text-transform: uppercase;
}
.featured-sub-heading{
margin:0;
padding:0;
color: white;
font-family: 'Open Sans', sans-serif;
font-size: 28px;
text-transform:uppercase;
line-height: 120%;
font-weight: 400;
}
.members-only-diamond{
position: absolute;
top: 10px;
height: 116px;
display: flex;
justify-content: center;
  flex-direction: column;
  text-align: center;
right: 10px;
color: white;
text-align: center;
text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  width: 120px;
  line-height: 120%;
}
.featured-event-information{
padding-left: 23px;
padding-right: 60px;
}
.featured-short-info{
padding-top: 10px;
padding-right: 30px;
}

.featured-theme, .featured-date{
display: inline-block;
border-radius: 2px;
background-image: linear-gradient(to left, #605086, #372366);
 font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  padding: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
margin-top: 16px;
text-transform: uppercase;
}
.featured-date{
margin-top: 9px;
margin-bottom: 0px;
}
.calendar{
float: left;
width:13px;
height: 13px;
margin-top: 3px;
margin-right: 10px;
background: url(img/calendar-icon.png) no-repeat;
}
.theme{
float: left;
width:13px;
height: 13px;
margin-top: 5px;
margin-right: 10px;
background: url(img/theme-icon.png) no-repeat;
}
.event-buttons{
position: absolute;
bottom: 4px;
}

.event-buttons .button{
margin-left: 20px;
margin-right: 0px;
margin-bottom: 10px;
}
.events-cell{
margin:0;
margin-top: 10px;
width: 25%;
max-width:285px;
height: 194px;
float: left;
background-repeat: no-repeat;
text-transform: uppercase;
font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  display: block;
}
.mobey-events .events-cell:hover{
cursor: pointer;
}

.passive-border{
height: 10px;
width: 100%;
background-image: linear-gradient(to right, #605086, #372366);
}
.passive-indicator, .active-indicator{
color: white;
padding: 38px;
padding-top: 32px;
text-align: center;
width: 100%;
max-width:285px;
height: 184px;
}
.events-main-content-bottom .events-cell{
height: 174px;
}

.events-main-content-bottom .passive-indicator, .events-main-content-bottom .active-indicator{
height: 164px;
padding-top: 22px;
}

.passive-indicator{
background: rgba(0, 0, 0, 0.60);
}
.mobey-events .passive-indicator:hover{
background: rgba(0, 0, 0, 0.35);
}


.active .passive-indicator{
background: rgba(0, 0, 0, 0.20);
}
.active .passive-border{
height: 10px;
width: 100%;
background-image:  linear-gradient(to right, #ff8400, #ffbd00);
}
.gain-access-container{
position: relative;
margin-bottom: 121px;
min-height: 127px;
padding-bottom: 20px;
}
.button-absolute{
bottom: 0%;
left: 50%;
position: absolute;
margin-left: -106px;
}

.gain-access {
margin-top: 63px;

text-align: center;
color: white;
height: auto;
min-height: 101px;

padding-bottom: 20px;
background-image: linear-gradient(to left, #605086, #372366);

}
.gain-access p{
font-size: 26px;
padding-top: 20px;
}

.workgroups, .twitter-feed{
background-color: #f3f3f3;
}
.diamond-left{
height: 101px;
background: url('img/diamond.png') no-repeat -40px 50%; 
background-size: 205px 200px;
float: left;
width: 205px;
font-size: 18px;
text-transform: uppercase;
text-align: center;
color: #ffffff;
font-weight: bold;
padding: 24px;
padding-top: 29px;
padding-right: 80px;
line-height: 120%;
}
.diamond-right{
height: 101px;
background: url('img/diamond.png') no-repeat  40px 50%;
background-size: 205px 200px;
height: 101px;
width: 205px;
float: right;
font-size: 18px;
text-transform: uppercase;
text-align: center;
color: #ffffff; 
font-weight: bold;
padding: 24px;
padding-top: 29px;
padding-left: 80px;
line-height: 120%;
}


.workgroups > .wrapper, .press-and-blog > .wrapper, .twitter-feed > .wrapper{
padding-top: 60px;
max-width: 1140px;
padding-bottom: 100px;
}
.workgroup-container {
width: 100%;
background: white;
padding: 0px;

}
.workgroup-cell-50{
width: 50%;
font-size: 20px;
float: left;
padding: 50px;
text-align: center;
min-height: 396px;
}
.workgroup-cell-50-2{
width: 50%;
float: left;
padding: 0px;
padding-left: 20px;
text-align: center;
text-align: center;
background: url('img/creditcard1.jpg') no-repeat;
min-height: 396px;
position: relative;
font-size: 20px;
}
.wc-line-y{
position: absolute;
  width: 1px;
  height: 113px;
  background-color: #ffffff;
    top: 50%;
  left: 50%;
  opacity: 0.5;
 margin-top:  -108px; 
}

.wc-line-x{
position: absolute;
  width: 189px;
  height: 1px;
  margin-left: -95px;
  background-color: #ffffff;
  top: 147px;
  left: 50%;
  opacity: 0.5;
}

.workgroup-cell-60{
clear: both;
width: 55%;
float: left;
font-size: 20px;
padding: 50px;
color: white;
text-align: center;
min-height: 396px;
background: url('img/credit-1-viisto.png') no-repeat;
}
.workgroup-cell-60 h2{
margin-top:10px;
margin-bottom: 10px;
}

.workgroup-cell-40{
width: 40%;
float: left;
padding: 0px;
padding-left: 30px;
padding-top: 20px;
}

.banking-table{
display: table;
margin-top: 50px;
margin-bottom: 30px;
font-size: 22px;
  font-weight: 600;
  line-height: 1.27;
}
.banking-table-row{
display: table-row;
}

.banking-cell1, .banking-cell2,.banking-cell3,.banking-cell4{
width: 50%;
padding: 20px;
height: 100px;
text-align: center;
display: table-cell;
color: white;
font-size: 22px;
text-transform: uppercase;
vertical-align: middle;
}

.press-and-blog .wrapper{
padding-bottom: 60px;
}

.press-releases, .blogs{
width: 50%;
float: left;

}
.press-releases{
padding-right: 100px;
}

.news-container{
margin-bottom: 40px;
padding-bottom: 30px;
border-bottom: 1px solid #d0d0d0;
}

.news-heading{
 font-size: 18px;
  font-weight: 600;

}
.heading-div{
background: url('img/press-list-icon.png') no-repeat 21px 50%;
padding-left: 65px;
}
.news-date, .news-link{
padding-left: 65px;
}
.news-date, .blogs-date{
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  color: #878787;
}
.news-date{
padding-top: 3px;
padding-bottom: 3px;
}
 .news-link{
  font-size: 14px;
  line-height: 1.63;
  color: #007dff;
}
.news-heading, .single-heading{
 color: #000000;
}
body .single-heading.size24{
line-height: 110%;
}

.news-heading:hover, .single-heading:hover{
  color: #ff0000;
}
.entry_author_image{
float: left;
margin-right: 15px;
margin-bottom: 26px;
clear: both;
}
.blog-indicator, .report-indicator, .video-indicator, .webinar-indicator, .inactive-indicator, .press-indicator {
  border-radius: 1px;
  background: #f31c6a;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  padding:3px;
  padding-left: 18px;
  padding-right: 18px;
   font-size: 11px;
   font-weight: 400;
   letter-spacing: 1.5px;
  }
.report-indicator {
  background-color: #ed5b5b;
}
.video-indicator {
  background-color: #d127aa;
}
  
  .webinar-indicator {
  background-color: #9333a8;
}
  .inactive-indicator {
  background-color: #787878;
  }
  
  .press-indicator {  
  background-color: #d13b3b;
  }
  
.blog-heading-div{
padding-top: 6px;
padding-bottom: 0px;
}

.blogs-container{
height: 240px;
padding-bottom: 20px;
border-bottom: 1px solid #d0d0d0;
margin-bottom: 20px;
}
html .div2{
border-bottom: 0px;
margin-bottom: 0;
}
.blogs-author{
font-size: 14px;
  font-weight: 300;
  font-style: italic;
} 
.blogs-content{
font-size: 14px;
}
.blog-link{
float: right;
font-weight: 14px;
}
.blogs .wp-post-image{
float: left;
width: 165px;
height: auto;
padding-right: 10px;
}

.reports-container{
padding-bottom: 20px;
border-bottom: 1px solid #d0d0d0;
margin-bottom: 20px;
}

.grid-item{
width: 370px;
float: left;
margin-left: 8px;
margin-right: 8px;
min-height: 200px;
}
.social-feed-element{
min-height: 200px;
}
.read-more{
font-weight: 700; 
}

/*------------------------------------*\
    DASHBOARD
\*------------------------------------*/
.dashboard-header .wrapper{
padding-bottom: 30px;
}
.dashboard-header h1{
margin-top: 0px;
margin-bottom: 0px;

}

.dashboard-header a{
color: white; 
text-decoration: underline;
}
.dashboard-header a:hover{
color: white; 
text-decoration: none;
}
.dashboard-logout{
float: right;
margin-right: 140px;
}
.one-third{
float: left;
width: 30%;
max-width: 390px;
margin-right: 15px;
margin-top: 50px;

}

.two-third{
margin-top: 60px;
float: left;
width: 30%;
max-width: 360px;
margin-right: 15px;
 border-radius: 3px;
height:64px;  
  border: solid 1px #ffffff;
  text-align: center;
}

.three-third{
margin-top: 60px;
float: left;
width: 30%;
max-width: 360px;
border-radius: 3px;
height:64px;
border: solid 1px #ffffff;
text-align: center;
}
.dashboard-header .dash-link{
display: block;
width: 100%;
line-height: 64px;
  font-size: 14px;
  font-weight: bold;
text-transform: uppercase;
text-decoration: none;
}
.dashboard-header .dash-link:hover{
color: #e95146;
background: white;
text-decoration: none;
}

.dashboard-items{
padding-top: 27px;
background: #f3f3f3;
padding-bottom: 139px;
}

.dashboard-items .wrapper{
max-width: 1138px;
}
.dashboard-items .news-date,  .dashboard-items .blogs-date
{
padding-top: 8px;
  font-size: 12px;
  
  }

.dashboard-event{
width: 763px;
max-width: 763px;
float: left;
background: white;
border: solid 1px #e3e3e3;
position: relative;
}


.dashboard-event-heading{
 height: 46px;
  background-image: linear-gradient(to left, #605086, #372366);
   font-size: 22px;
  font-weight: bold;
  color: white;
  line-height:  46px;
  padding-right: 21px;
  padding-left: 21px;
}
.deh-link{
color: white; 
text-decoration: underline;
float: right;
font-size: 14px;

}
.deh-link:hover{
text-decoration: none;
}
.dashboard-event .featured-short-info{
font-size: 14px;
}
.dashboard-event .event-buttons .button {
    margin-left: 0px;
    margin-right: 20px;
    }
.featured-event-image-db{
width: 261px;
float: left;
height: 260px;
}
.featured-event-content-db{
float: left;
padding-left: 20px;
max-width: 500px;

}
.featured-heading-db{
font-size: 28px;
  font-weight: bold;
  color: #272727;
  margin-top: 10px;
  margin-bottom:0;
  text-transform: uppercase;
  }
  

.featured-event-content-db .featured-date, .featured-event-content-db .featured-theme{
display: inline-block;
font-size: 11px;
}
.featured-event-content-db .featured-theme{
margin-left: 10px;
}
.reports-container-db{
float: right;
padding-bottom: 0;
margin-bottom: 20px;
}
.one-third-db-container{
max-width: 360px;
background: white;

}
.reports-container-db .news-container, .webinars-container .news-container{
padding-left: 22px;
padding-right: 22px;
margin-bottom: 0px;
margin-top: 14px
}
.blogs-container-db .blog-container{
margin: 0;
padding: 0;
clear: both;
padding-right: 22px;
border-bottom: solid 1px #e5e5e5;
}
.blogs-container-db .blog-container .heading-div-db{
padding-top: 14px
}

.reports-container-db .news-date, .webinars-container .news-date, .blogs-container-db .news-date
{

  padding-left: 0px;
}
.heading-div-db{
padding-bottom: 10px;
}
.webinars-container{
float: left;
max-width: 374px;
margin-top: 14px;
}
.blogs-container-db{
float: left;
margin-left: 15px;
max-width: 373px;
margin-top: 14px;
}
.blog-container .wp-post-image{
margin-bottom: 0;
width: 90px;
height: auto;
float: left;
margin-right: 10px;
margin-top: 10px;
margin-bottom:60px;
}
.blog-container .blogs-content p{
margin-bottom: 0;
margin-top: 0;
 font-size: 12px;
}
.upcoming-div-db{
font-size: 14px;
  font-weight: bold;
color: #f8a96a;
}
.future, .future .news-heading {color: #bebebe;}

/*------------------------------------*\
    Basic page
\*------------------------------------*/

.basic-header .wrapper{
padding-top: 50px;
padding-bottom: 60px;
}
.basic-header h1{
margin-top: 10px;
margin-bottom: 10px;

}

.basicpage-main-content{
background: white;
}

/*------------------------------------*\
    Workgroups
\*------------------------------------*/
.workgroups-main > .wrapper{
padding-top: 40px;
max-width: 660px;

padding-bottom: 10px;
}

.workgroups-main-red > .wrapper{
max-width: 700px;
padding-bottom: 50px;
padding-top: 50px;
}
.workgroups-main-content-bottom{
height: 260px;
  background-color: #f4f4f4;
margin: 0;
padding:0;

}
.workgroups-main-content-bottom > .wrapper{
max-width: 1280px;
margin-top: 0;
margin-bottom: 0;
padding:0;
clear: both;
}
.workgroups-main-content-bottom > .wrapper h4{
margin-top: 0px;
margin-bottom: 10px;
}

.wk1{
float: left;
width: 30%;
max-width: 400px;
padding: 0px;
padding-left: 40px;
padding-right: 40px;
text-align: center;
height: 260px;
}
.wk2{
float: left;
width: 30%;
max-width: 400px;
padding: 0px;
padding-left: 40px;
padding-right: 40px;

text-align: center;
background: white;
height: 260px;
}
.wk3{
float: left;
width: 30%;
max-width: 400px;
padding: 0px;
padding-left: 40px;
padding-right: 40px;
text-align: center;
height: 260px;
}
.wk-triangle1{
float: left;
border-top: 130px solid #ffffff; 
border-left: 40px solid #f4f4f4; 
border-bottom: 130px solid #ffffff;
}
.wk-triangle2{
float: left;
border-top: 130px solid #f4f4f4; 
border-left: 40px solid white; 
border-bottom: 130px solid #f4f4f4;
}
.wimg2 {
margin-top:20px;
margin-bottom:20px;
}

.wimg3{
margin-top:17px;
margin-bottom: 17px;
}
.wk-topwrapper{
max-width: 660px; 
text-align: center;
margin-left: auto;
margin-right: auto;
padding-bottom: 40px;
}
.workgroups-current-workgroups{
background-color: #f3f3f3;
}

.workgroups-current-workgroups .wrapper{
padding-top: 10px;
padding-bottom: 56px;
}

.wk-box1{
background: url('img/wg-open-banking.jpg') no-repeat ;

}
.wk-box2{
background: url('img/wg-virtual-currencies.jpg') no-repeat;


}
.wk-box3{
background: url('img/wg-m-commerce.jpg') no-repeat;

}
.wk-box4{
background: url('img/wg-bank-disruption.jpg') no-repeat;

}
.wk-box{
float: none;
max-width: 568px;
height: 413px;
display: flex;
justify-content: center;
  flex-direction: column;
  text-align:center;
  color: white;
 -webkit-transition: height 0.5s ease-out; /* Safari */
 transition: height 0.5s ease-in-out;
 margin-bottom: 1px;
}
.wk-column1, .wk-column2{
max-width: 569px;
float: left;
}
.wk-column1{
margin-right: 1px;

}

.wk-box-open{
height: 826px;
}
.wk-box > .long{

height: 88px;
overflow: hidden;
 -webkit-transition: height 0.5s; /* Safari */
 transition: height 0.5s;

}

.wk-box-open > .long{
display: block;
height: 520px;
}

.wk-box .button{
margin-left: auto;
margin-right: auto;
}


.wk-box div{
padding-left: 125px;
padding-right: 125px;
margin-top: 13px;
}

.wk-box .long{
margin-top: 0px;
}

.wk-box h3{
padding-left: 50px;
padding-right: 50px;
color: white;
margin-top: 0px;
margin-bottom: 0px;
}
.workgroups-access{
background: white;
}

.workgroups-access .wrapper{
max-width: 660px;
padding-top: 30px;
padding-bottom: 56px;
text-align: center;
}
.logged-in .workgroups-access{
display: none;
}

.workgroups-arrow{
background: url('img/workgroups-more.png') no-repeat center center;
width: 35px;
height: 23px;
margin-left: auto;
margin-right: auto;
padding-top: 18px;
padding-bottom: 18px;
}
.workgroups-arrow:hover{
cursor: pointer;
}

.wk-box-open .workgroups-arrow{
background: url('img/workgroups-less.png') no-repeat center center;
}



/*------------------------------------*\
	Publications template
\*------------------------------------*/
.publications-menu{
  height: 58px;
  background-color: #ededed;
}
.publications-menu .wrapper{

text-align: center;
}
.p-menu li {
    float: left;    
    list-style-type: none;
   
    border-right: 2px solid #ea5245;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg);
    margin:-1px 0 0 -1px;  /*border-colapse*/
    height: 58px;

}
.p-menu li:last-child {
border-right:0px solid;
}
.p-menu li a{
display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 58px;
  text-align: center;
  color: #000000;
     padding-left: 70px;
    padding-right: 70px;
    text-transform: uppercase;
}
.p-menu li a.pbb:hover, .category-blog .p-menu li a.pbb{
background-color: #f31c6a;
color: white;
}
.p-menu li a.pbp:hover, .category-press-releases .p-menu li a.pbp{
background-color: #d13b3b;
color: white;
}
.p-menu li a.pbv:hover, .category-videos .p-menu li a.pbv{
background-color: #d127aa;
color: white;
}
.p-menu li a.pbw:hover, .category-webinars .p-menu li a.pbw{
background-color: #9333a8;
color: white;
}
.p-menu li a.pbr:hover, .category-whitepapers .p-menu li a.pbr{
background-color: #ed5b5b;
color: white;
}
.pagination > li > a, .pagination > li > span{
color: #f31168;
}

.pagination > li > a:hover, .pagination > li > span:hover{
color: #ff0000;
}
.p-menu li span {
    display:block;
    -webkit-transform: skew(-20deg) !important;
  -moz-transform: skew(-20deg) !important;
  -ms-transform: skew(-20deg) !important;
  -o-transform: skew(-20deg) !important;
  transform: skew(-20deg) !important; 
}
.publications-reports-blogs{
background: white;
}
.publications-reports-blogs .wrapper{
padding-top: 40px;
padding-bottom: 40px;
}

.blogs-container img.wp-post-image{
width: 165px;
height: auto;
float: left;
margin-right: 10px;
margin-bottom: 30px;
}

.reports-thumbnail { height: 148px; width: 165px; overflow: hidden;
float: left;
margin-right: 15px;
margin-bottom: 15px;
 }
.reports-thumbnail img{
object-fit: cover;
height: 148px;
width: 165px;
}
.one-half{
float: left;
max-width: 550px;
}
.second-half{
float: left;
max-width: 550px;
margin-left: 30px;
}
.pb-reports-container{
padding-bottom: 15px;
border-bottom: 1px solid #d0d0d0;
margin-bottom: 15px;
min-height: 168px;
}
.blogs-content, .blogs-date{
margin-top: 8px;
margin-bottom:0;
padding:
}
.blogs-content p{
margin:0;
}
.publications-videos-webinars{
 background-color: #f3f3f3;
}
.publications-videos-webinars .wrapper{
padding-top: 40px;
padding-bottom: 60px;
}
.vw-container{
background-color: #ffffff;
box-shadow: 0px 1px 1px 0 rgba(7, 10, 8, 0.15);
margin-bottom: 8px;
margin-top: 0px;
 min-height: 123px;
 position: relative;
 clear: both;
}
.vw-container .content{
padding: 14px;
padding-left: 0;
}

.vw-container .news-heading{
font-size: 16px;

}
section.publications-videos-webinars > div.wrapper > div.one-half .vw-container {

margin-bottom: 4px;
}


.video-thumbnail { height: 142px; width: 218px; overflow: hidden;
float: left;
margin-right: 15px;
margin-bottom: 15px;
position: relative;
 }
.video-thumbnail img{
object-fit: cover;
height: 142px;
width: 218px;
} 
 
.play{
position: absolute;
z-index: 1;
top: 45%;
left: 45%;
 width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  
  border-left: 31px solid #d2d2d2;
opacity: 0.8;
}
.w-dot{
position: absolute;
  width: 9px;
  height: 9px;
  background-color: #b44a9c;
  top: 45%;
  left: 37px;
}
.future .w-dot{
background-color: #909090;
  }
.w-content{
padding: 14px;
padding-left: 82px;
}
.w-content .news-date{
  padding-left: 0px;
  }
.w-content .heading-div-db{
margin-top: 8px;  
padding-bottom: 0;
  
  }
.vw-container .heading-div-db, .vw-container .blog-heading-div{
height: 52px;
overflow: hidden;
margin:0;
margin-top:8px;
}
.download-link{
margin-top: 8px;
font-size: 14px;
}
.publications-press-releases .wrapper{
padding-top: 40px;
padding-bottom: 40px;
text-align: center;
} 
.pbpress-container{
max-width: 370px;
float: left;
text-align: left;
margin-bottom: 20px;
}
.pbpress-container .heading-div{
height: 92px;
overflow: hidden;
margin:0;
background: url('img/press-list-icon.png') no-repeat 21px 20px;
}


/*------------------------------------*\
	category template
\*------------------------------------*/
  
.nav-filter{
list-style-type: none;
margin-left: 0;
padding-left: 0;
margin-top: 8px;
margin-bottom: 8px;
}
.nav-filter li{
background-color: #a4a4a4;
display: block;
margin-left: 0;
padding-left: 0;
margin-bottom: 6px;
text-align: center;
padding-left: 5px;
padding-right: 5px;
}
.nav-filter li.active{
background-color: #ed5b5b;
display: block;
}
.nav-filter li a, .nav-filter li a:hover{
  font-size: 11px;
  font-weight: bold;
 color: #ffffff;
 display: block;
 padding-top: 6px;
 padding-bottom: 6px;
} 
.sidebar-half{
font-size: 14px;
  font-weight: bold;
  color: #545454;
  text-transform: uppercase;
  float: left;
  max-width: 180px;
} 
.all-tags{
font-size: 14px;
float: right;
color: #f31168;
text-transform: none;
}
.content-half{
float: left; 
max-width: 750px;
margin-left:31px;
}
.intro{
border-left: 5px solid #ed5b5b;
padding-left: 35px;
margin-bottom: 40px;
}
.sidebar-half h2{
text-transform: none;
margin-top: 10px;
line-height: 120%;
}

/*------------------------------------*\
    EVENTS page
\*------------------------------------*/


.events-main > .wrapper{
padding-top: 20px;
max-width: 700px;
padding-bottom: 20px;
}
.events-main p{
font-size: 20px;
}

.events-main-content-bottom{
  background-color: #ffffff;
margin: 0;
padding:0;
}
.events-main-content-bottom > .wrapper{
max-width: 1140px;
margin-top: 0;
margin-bottom: 0;
padding:0;
padding-bottom: 120px;
}
.aka-mobey-day{
background: url('img/mobey-day-diamond-2-web.png') no-repeat center right;
padding-right: 190px;
}

.events-main-content-box{
position: relative;
width: 100%;
max-width: 1140px;
  height: 255px;
  border-radius: 2px;
background: url('img/events-page-and-bar.png') no-repeat center center;
  border: solid 1px #dadada;
  margin-bottom: 100px;
}
.emcb-left{
text-align: center;
width: 40%;
max-width: 410px;
float: left;
margin-left: 73px;
}
.emcb-right{
text-align: center;
width: 40%;
max-width: 410px;
float: right;
margin-right: 73px;
}
.emcb-right-button{
position: absolute;
left: 171px;
bottom: -26px;
}

.emcb-left-button{
position: absolute;
right: 171px;
bottom: -26px;
}
.events-cell-link{
position: relative;
}
.up-next{
position: absolute;
top: 17px;
right: 6px;
padding: 4px;
padding-left: 10px;
padding-right: 10px;
 background-color: #f1475a;
  font-size: 11px;
text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
  color: #ffffff;
}

.events-open-events{
background-color: #f3f3f3;
}

.events-open-events > .wrapper{
padding-top: 20px;
max-width: 1140px;
padding-bottom: 130px;

}
.events-open-events .main-text, .events-member-events .main-text{
max-width: 678px;
margin-left: auto;
margin-right: auto;
font-size: 20px;
  font-weight: 300;
  text-align: center;
  color: #000000;
}

.events-member-events > .wrapper{
padding-top: 20px;
max-width: 1140px;
padding-bottom: 130px;
}
.small-event-container{
width: 100%;
margin-top: 20px;
clear: both;
}

.small-event-image{
background-repeat: no-repeat;
background-position: center right;
width: 100%;
}
.small-event-content{
 background-image: linear-gradient(to left, #605086, #372366);
width: 52.6%;
float: left;
padding: 30px;
padding-bottom:34px;
padding-left: 55px;
color: white;
text-transform: uppercase;
font-size: 18px;
height: 190px;
  text-align: left;
  color: #ffffff;
position: relative;
}
.small-event-meta{
position: absolute;
}

.small-event-buttons{
padding-top:116px;
float: right;
width: 44%;
padding-right: 26px;
}
.small-event-buttons a{
float: right;
}


.small-event-triangle{
float:left;
width: 0;
height: 0;
border-style: solid;
border-width: 190px 0 0 26px;
border-color: transparent transparent transparent #605086;
}
.small-event-heading{
margin:0;
padding:0;
color: #ffffff;
}
.small-event-content .featured-theme{
float: left;
background-image: linear-gradient(#f12828, #f12828), linear-gradient(to left, #605086, #372366);
margin-top: 9px;
margin-right: 10px;
}
.small-event-content .featured-date{
float: left;
background-image: linear-gradient(#f12828, #f12828), linear-gradient(to left, #605086, #372366);

margin-top: 9px;
}

/*------------------------------------*\
    ABOUT
\*------------------------------------*/

.about-main{

}
.about-main .wrapper{
padding-top: 40px;
padding-bottom: 40px;
max-width: 1000px;
}

div#pg-4336-1.panel-grid.panel-no-style > div#pgc-4336-1-0.panel-grid-cell, div#pg-4336-1.panel-grid.panel-no-style > div#pgc-4336-1-1.panel-grid-cell, div#pg-4336-1.panel-grid.panel-no-style > div#pgc-4336-1-2.panel-grid-cell{
  border: solid 1px #dadada;
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 420px;
}

html img.strives-to-img{
margin-top: 40px;
margin-bottom: 40px;
}
.about-for-container{
display: inline-block;
margin-left: auto;
margin-right: auto;
width: 100%;
}

.about-red-line1{
margin-left: 3%;
margin-top: 36px;
width: 12%;
  max-width: 164px;
  height: 6px;
  background-image: linear-gradient(to right, #af0063, #f31168);
  float: left;
}
.about-red-line2{
margin-top: 36px;
width: 36%;
max-width: 379px;
  height: 6px;
  background-image: linear-gradient(to right, #f31168 25%, #f31168);
  float: left;
}
.about-for-our{
width: 50%;
 max-width: 422px;
 float: left;
 font-size: 26px;
 margin-left: 16px;
 margin-right: 16px;
}
.about-we-organize{
background-color: #f3f3f3;
}
.about-we-organize .wrapper{
max-width: 1000px;
padding-bottom: 56px;
padding-top: 40px;
}
.organize-box{
position: relative;
max-width: 1000px;
height: 432px;
}
.organizeimg1{
position: absolute;
top: 0px;
left: 0px;
z-index: 5;
background: url('img/night-sky.png') no-repeat center right;
width: 608px;
height: 186px;
}
.organizeimg2{
position: absolute;
bottom: 0px;
right: 0px;
z-index: 5;
background: url('img/people-meeting.png') no-repeat center left;
width: 606px;
height: 186px;
}

.organize-ab1 {
position: absolute;
top:20px;
right: 0px;
max-width: 622px;
height: 186px;
padding: 42px;
padding-left: 280px;
background-color: #ffffff;
z-index: 3;
}
.organize-ab2 {
position: absolute;
bottom:20px;
left: 0px;
max-width: 622px;
height: 186px;
padding: 42px;
padding-right: 280px;
background-color: #ffffff;
z-index: 3;
text-align:right;
}
.organize-ab1 h3, .organize-ab2 h3{
margin:0;
}
.organize-and-icon{
z-index: 18;
background: url('img/and-icon.png') no-repeat center center;
width: 84px;
height: 89px;
position: absolute;
top:171px;
left: 512px;
}
.about-publications .wrapper{
position: relative;
padding-top: 40px;
padding-bottom: 60px;
max-width: 1000px;
}
.line-mask{
position: absolute;
background: url('img/road-mask.png') no-repeat center center;
width: 1140px;
height: 394px;
top: -70px;
right: -70px;
  z-index: 1;
}
.workgroups-meet{
margin-top:60px;
font-size: 18px;
}
.about-pboxes{
margin-top: 40px;
margin-bottom: 130px;
 position:relative;
  z-index: 10;
  text-align: center;
}
.about-pbox{
 display: inline-block;
margin-left: 6px;

  
 
}

.about-pbox a{
padding-top: 70px;
display: block;
color: #474747;
width: 190px;
  height: 116px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #dadada;
  text-transform: uppercase;
 font-size: 16px;
  font-weight: 600;
  color: #474747;
  text-align: center;
}
.about-pbox a:hover{
 background-color: #f3f3f3;
}

.about-pbox:nth-of-type(1){
margin-left: 0px;
}
.about-pbox1 a{
background: url('img/blog@2x.png') no-repeat center 30px;
background-size: 26px 25px;
}
.about-pbox2 a{
background: url('img/press@2x.png') no-repeat center 30px;
background-size: 27px 21px;
}
.about-pbox3 a{
background: url('img/reports@2x.png') no-repeat center 30px;
background-size: 19px 25px;
}
.about-pbox4 a{
background: url('img/videos@2x.png') no-repeat center 30px;
background-size: 19px 23px;
}
.about-pbox5 a{
background: url('img/webinars@2x.png') no-repeat center 30px;
background-size: 25px 23px;
}
.open-publications{
margin-top: 36px;
text-align: center;
font-size: 26px;
}
.about-picons{
padding-left: 160px;
padding-right: 300px;
margin-top: 40px;
}
.about-board {background-color: #f3f3f3;}

.about-board .wrapper{
position: relative;
padding-top: 40px;
padding-bottom: 60px;
max-width: 1150px;

}

.boardbox{
width: 281px;
  height: 375px;
float: left;
position: relative;

padding-right: 0;
text-align: left;
color: white;
margin: 3px;
background-size:  281px 375px;
}
.name{
 font-size: 22px;
  font-weight: bold;
}
.bank{
 font-size: 18px;

}
.bb-email{
color: #A9A9A9;
font-size: 14px;
}

.jordi {
background: url('img/boardmembers/jordi.jpg') no-repeat center center;
}
.bent{
background: url('img/boardmembers/bentsen.jpg') no-repeat center center;
}
.ozge{
background: url('img/boardmembers/ozge.jpg') no-repeat center center;

}
.george{
background: url('img/boardmembers/charalambous.jpg') no-repeat center center;
}
.veronica{
background: url('img/boardmembers/lange.jpg') no-repeat center center;
}
.tom{
background: url('img/boardmembers/tom.jpg') no-repeat center center;
}
.maurizio{
background: url('img/boardmembers/mauri.jpg') no-repeat center center;
}
.juha{
background: url('img/boardmembers/risikko.jpg') no-repeat center center;
}
.hans{
background: url('img/boardmembers/hans.jpg') no-repeat center center;
}
.kasper{
background: url('img/boardmembers/kasper.jpg') no-repeat center center;
}
.jukka{
background: url('img/boardmembers/yliuntinen.jpg') no-repeat center center;
}
.andre{
background: url('img/boardmembers/zoelch.jpg') no-repeat center center;
}

.maikki{
background: url('img/boardmembers/maikki.jpg') no-repeat center center;
}
.laura{
background: url('img/boardmembers/laura.jpg') no-repeat center center;
}
.shalini{
background: url('img/boardmembers/shalini.jpg') no-repeat center center;
}

.bb-content{
position: absolute;
bottom: 0px;
z-index:1;
padding: 26px;
padding-bottom: 20px;
width: 100%;
-webkit-transition: background .5s ease-out;
  -moz-transition: background .5s ease-out;
  -o-transition: background .5s ease-out;
  transition: background .5s ease-out;
}

.more-info .bb-content{
background: rgba(0, 0, 0, 0.7);

}

.bb-extra-info{
border-top: solid 1px #ffffff;
padding-top: 10px;
margin-top: 6px;
font-family: OpenSans;
  font-size: 14px;
  line-height: 1.36;
  text-align: left;
  color: #ffffff;
  margin-right: 26px;
display: none;

}
.bb-button{
position: absolute;
width: 16px;
height: 15px;
top:15px;
right: 15px;
background: url('img/plus.png') no-repeat center center;
z-index: 10;
}
.bb-button:hover{
cursor: pointer;
}

.more-info .bb-button{
background: url('img/close.png') no-repeat center center;
}
.executive-team{
max-width: 880px;
margin-left: auto;
margin-right: auto;
}

.cm-box {
float: left;
  width: 189px;
  height: 150px;
  background-color: #ffffff;
  border: solid 1px #d7d7d7;
  display: flex;
justify-content: center;
  flex-direction: column;
margin-bottom: -1px;
margin-left: -1px;
padding:10px;
}
.cm-box:hover {
-webkit-box-shadow: inset 0px 0px 3px 2px rgba(215,215,215,1);
-moz-box-shadow: inset 0px 0px 3px 2px rgba(215,215,215,1);
box-shadow: inset 0px 0px 3px 2px rgba(215,215,215,1);
}
.cm-box > div {
    min-width: 0; /*don't forget this line, see the explanation below*/
}


.cm-box > div > img{
max-width: 121px;
height: auto;
margin-left: auto;
margin-right: auto;

}

.endorsed-carousel .item img{
        max-height: 400px;
        width: auto;
    }
.endorsed-carousel .item img{
        max-height: 400px;
        width: auto;
    }    

#CorporateCarousel .right.carousel-control, .endorsed-arrow-wrapper .right.carousel-control{
background: url('img/red-nuoli.png') no-repeat center center;
width: 23px;
height: 19px;
top: 220px;
right: -70px;
}
#CorporateCarousel .left.carousel-control,  .endorsed-arrow-wrapper .left.carousel-control{
background: url('img/red-nuoli-left.png') no-repeat center center;
width: 23px;
height: 19px;
top: 220px;
left: -70px;
}
#CorporateCarousel .right.carousel-control:hover,  .endorsed-arrow-wrapper .right.carousel-control:hover{
background: url('img/red-nuoli-hover.png') no-repeat center center;
}
#CorporateCarousel .left.carousel-control:hover,  .endorsed-arrow-wrapper .left.carousel-control:hover{
background: url('img/red-nuoli-hover-left.png') no-repeat center center;
}
#CorporateCarousel .carousel-inner{
height: 500px;
}
#CorporateCarousel.carousel .item{
width: 100%;
border-left: solid 1px #d7d7d7;
}

#CorporateCarousel .carousel-indicators
{
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0px;
  margin-left: -30%;
  text-align: center;
  list-style-type: none;
  list-style-image: none;
  list-style-position: outside;
}
#CorporateCarousel .carousel-indicators li
{
  display: inline-block;
width: 8px;
  height: 8px;
  margin-top: 1px;
  margin-right: 8px;
  margin-bottom: 1px;
  margin-left: 8px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: 0px solid black;
  background-color: #bbbbbb;
  border-radius: 10px;
}
#CorporateCarousel .carousel-indicators li.active{

  background-color: #f31168;
}
.about-member-news .wrapper{
max-width: 1180px;

}

.member-news .news-container{
max-width: 345px;
height: 220px;
float: left;
border-bottom: 0px;
margin-bottom:10px;
margin-left:20px;
margin-right: 20px;
}

/*------------------------------------*\
    Join page
\*------------------------------------*/
.member-news{
margin-top: 50px;
}
.join-main{
background: #ffffff url('img/polygon-tausta.jpg') no-repeat top center;
}
.join-main .wrapper{
padding-top: 60px;
max-width: 600px;
padding-bottom: 100px;
}
.join-register{
background-color: #f3f3f3;
}
.join-register .wrapper{
padding-top:10px;
padding-bottom:40px;
}
.join-benefits{
background-color: #f3f3f3;
}
.join-benefits .wrapper{
padding-top:30px;
padding-bottom:80px;
}

.being-part-container{

width: 100%;
padding:0;
vertical-align: bottom;
}
.bpc{
display: inline-block;
width: 276px;
padding-left: 40px;
padding-right: 40px;
height: 108px;
padding-top: 24px;
border-radius: 2px;
  background-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  border-image-source: linear-gradient(54deg, #902e7a, #ff0073);
  border-image-slice: 1;
  background: white;
  margin-bottom: 10px;
  vertical-align: bottom;
}
.bpc1{
padding-top: 14px;
padding-left: 30px;
padding-right: 30px;
margin-top: 10px;
}
.bpc2{
padding-top: 14px;
padding-left: 10px;
padding-right: 10px;
}

.join-cell-50{
width: 50%;
margin:0;
float: left;
padding: 40px;
padding-top: 30px;
text-align: center;
min-height: 345px;
text-align: left;
padding-left:84px;
}
.join-cell-50-2{
margin:0;
width: 50%;
float: left;
padding: 0px;
padding-left: 20px;
text-align: center;
text-align: center;
background: url('img/join-crowd.jpg') no-repeat;
min-height: 345px;
display: flex;
justify-content: center;
  flex-direction: column;
}
.join-cell-50-3{
width: 50%;
margin:0;
float: left;
padding: 40px;
padding-top: 30px;
padding-right:84px;
text-align: center;
min-height: 345px;
text-align: right;
}
.join-cell-50-4{
width: 50%;
margin:0;
float: left;
padding: 0px;
padding-left: 20px;
text-align: center;
text-align: center;
background: url('img/join-work.jpg') no-repeat;
min-height: 345px;
display: flex;
justify-content: center;
  flex-direction: column;
}
.hexagon{
width: 110px;
height: 126px;
margin-left: auto;
margin-right: auto;
}

.benefits-bottom-box {
  width: 100%;
  height: 313px;
  border-radius: 2px;
  border: solid 1px #dadada;
  position: relative;
  margin-top: 56px;
  margin-bottom: 0px;
}
.benefits-digital-database{
top: 50px;
left:100px;
background: url('img/free.png') no-repeat top center;

padding-top: 40px;
width: 340px;
position: absolute;
}
.benefits-presentation-archives{
background: url('img/access.png') no-repeat top center;


width: 340px;
position: absolute;
padding-top: 40px;
top: 50px;
right:100px;
position: absolute;
}
.benefits-3{
position: absolute;
top: 0px;
left: 50%;
width: 110px;
height: 312px;
background: url('img/3.png') no-repeat top center;
margin-left: -55px;
}
.how-to-join-header-top .wrapper{
padding-top: 40px;
  padding-bottom: 20px;
}

.join-how-to-join{
height: 405px;
  background-color: #f4f4f4;
margin: 0;
padding:0;
}
.join-how-to-join > .wrapper{
max-width: 1280px;
margin-top: 0;
margin-bottom: 0;
padding:0;
}
.jimg2{
margin-bottom: 16px;
}
.jimg3{
margin-bottom: 7px;
}
.membership-types .wrapper{

}

.join-table{
width: 100%;
text-align: center;
min-width: 1000px;
}
.text-top td{

}

.join-table td.text-middle{
vertical-align: middle;
}

.join-table td h4{
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  text-transform: none;
  margin-bottom: 0px;
}
.join-table td .longp{
height: 120px;
display: flex;
justify-content: center;
  flex-direction: column;
}

.join-table td, .join-table th{
width: 20%;
padding: 13px;
} 
.join-table td{
width: 20%;
border-top: 1px solid #cdcdcd;
} 
.join-table .no-top-line td{
border-top: 0px;
}


.join-table tr td:nth-child(1), .join-table tr th:nth-child(1), .join-table tr td:nth-child(3), .join-table tr th:nth-child(3), .join-table tr td:nth-child(5), .join-table tr th:nth-child(5){
  background-color: #f4f4f4;
}
.join-table tr td:nth-child(1), .join-table tr th:nth-child(1){
text-align: right;
}

.checkmark{
background: url('img/checkmark.png') no-repeat center center;
}
.green{
font-size: 16px;
  font-weight: 300;
  color: #27b642;
}


/*------------------------------------*\
    Modal
\*------------------------------------*/

.modal-dialog{
margin-top: 80px;
}
.modal-content{
border-radius: 0;
}
.modal-content p{
max-width: 320px;
margin-left: auto;
margin-right: auto;
text-align: center;
font-size: 14px;
}


.modal-header{
background: url('img/banner-tausta.jpg') no-repeat top center;
color: white;
text-align: center;
border-bottom-width: 0px;
position: relative;
}
.modal-header h2{
color: white;
padding: 20px;
}
.modal-header .close{
position: absolute;
top: -30px;
right: -42px;
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  opacity: 1;
  text-shadow: 0;
}

.modal-warning-message{
background-color: #4e2a5d;
 width: 100%;
 max-width: 560px;
 position:relative;
}
.warning-sign-right{
position: absolute;
left: 10%;
top: 50%;
background: url('img/modal-warning.png') no-repeat 0px 0px;
width: 25px;
height: 29px;
margin-top: -15px;
}
.warning-sign-left{
position: absolute;
right: 10%;
top: 50%;
background: url('img/modal-warning.png') no-repeat 0px 0px;
width: 25px;
height: 29px;
margin-top: -15px;
}
.warning-sign-text{
padding-top:16px;
padding-bottom: 16px;
max-width: 280px;
margin-left: auto;
margin-right: auto;
color: white;
font-size: 14px;
}

#registerModal .modal-body{
padding-left: 0;
padding-right: 0;
text-align: center;
}

.um-login .um-alt{display: none;}

.um-field-checkbox-state{
display: none;
}
.um-field-checkbox{
background: url('img/unselected.png') no-repeat 0px 6px;
}

.um-field-checkbox.active{
background: url('img/selected.png') no-repeat 1px 7px;
}
html .um-field-checkbox-option, html .um-field-radio-option {
    margin-left: 20px;
    font-size: 13px;
     font-weight: 300;
}
#loginModal .um-half{
text-align: center;
}

#loginModal .um .um-form input[type=text], #loginModal .um .um-form input[type=tel], #loginModal .um .um-form input[type=password], #loginModal .um .um-form textarea{
width: 308px;
  height: 35px;
  border-radius: 2px;
  border: solid 1px #c2c2c2 !important; 
}
#loginModal .um-field-text, #loginModal .um-field-c, #loginModal .um-field-password{
padding-left: 70px !important;
}
#loginModal .modal-content, #registerModal .modal-content, #registerModal .modal-dialog, #loginModal .modal-dialog {
    /* new custom width */
    max-width: 560px;

    }
input[type=text]{
 height: 35px;
  border-radius: 2px;
  border: solid 1px #c2c2c2 !important; 
}
select, textarea{
  border-radius: 2px;
  border: solid 1px #c2c2c2 !important; 
}
.event-register-main .wrapper{
max-width: 500px;
padding-top: 40px;

}

#gform_page_footer input[type="submit"], .gform_button
{
  font-size: 16px;
padding-left: 30px;
padding-right: 30px;
}
/*------------------------------------*\
    MOBILE
\*------------------------------------*/
.mobile-menu{
position: absolute;
width: 100%;
background: #e95146;
z-index: 100;
text-align: center;
font-size: 14px;
display: none; 
  line-height: 1.93;
  color: #ffffff;
  padding-bottom: 60px;
  top: 83px;
}
.mobile-email{
color: white;
 font-weight: 600;
}
.mobile-email:hover{
color: white;
text-decoration: underline;
}

.mobile-menu .wrapper{

}

.mobile-nav-buttons{
padding-top: 20px;
}

.mobile-nav-buttons ul
{margin: 0; padding: 0; 
	list-style-type: none; list-style-image: none; 
	
	}
.mobile-nav-buttons ul li {float: right; }

.mobile-nav-buttons ul li .mobile-menu-toggle{
width: 47px;
height: 47px;
background: url('img/mobile-toggle-open.png') no-repeat center center;
background-size: 35px 25px;
padding-left: 40px;
padding-right: 20px;
}
.mobile-nav-buttons ul li.opened .mobile-menu-toggle{
background: url('img/mobile-toggle-close.png') no-repeat center center;
background-size: 25px 25px;
 }

.logout-button{ display: none; }
.logged-in .login-button{ display: none; }
.logged-in .logout-button{ display: inline; }    
.mobile-nav-buttons{display: none;}

.mobile-nav-buttons .login-button{
margin-top: 8px;

}
.mobile-menu ul
{margin: 0; padding: 0; 
	list-style-type: none; list-style-image: none; 
	 text-align: center;
	}
.mobile-menu ul li{
width: 100%;
 text-align: center;
 }
.mobile-menu ul li a, .mobile-menu  .login-icon{
display: block;
  font-size: 15px;
  font-weight: 800;
line-height: 300%;
text-transform: uppercase;
  color: #ffffff;
}
.mobile-menu  .login-icon{

}
.mobile-divider {
margin-left: auto;
margin-right: auto;
  width: 42px;
  height: 1px;
  background-color: #ffffff;
  margin-top: 30px;
  margin-bottom: 30px;
}

.mobile-menu ul .search-icon{
display: none;
}
.mobile-menu-social-media{
margin-bottom: 30px;
}
.single-main .wrapper{
padding-top: 40px;
padding-bottom: 40px;
max-width: 680px;
}
.search-row{
padding-top: 26px;
padding-bottom: 26px;
  height: 90px;
  background-color: #ededed;
}
.search-row .wrapper{

text-align: center;
}
.search-row .search
{
  margin-top: 0px;
  margin-bottom: 0px;
}
.search-row .search .search-input1
{
 border: 1px solid #d3d3d3;
border-radius: 3px;
}
.search-results-main {
background: white;
padding-top: 20px;
}
.search-results-main .wrapper{

max-width: 680px;
}
.search-result-container{
padding-bottom: 15px;
border-bottom: 1px solid #d0d0d0;
margin-bottom: 15px;
}
#workgroupsModal .modal-body{
max-width: 310px;
margin-left: auto;
margin-right: auto;
}


	form .gform_body .ginput_complex input[type=text] {
		width:100% !important;
	}

div.ginput_container.ginput_container_text > input, div.ginput_container.ginput_container_email > input{
		width:100% !important;
	}
	
.endorsed-carousel .item{
width: 100%;
text-align: center;

}	

.endorsed-carousel .item .item-inner{
height: 400px;
display: flex;
justify-content: center;
  flex-direction: column;
width: 100%;
margin: auto;
}
.separator{
padding-top: 30px;
padding-bottom: 30px;
}
.red-line{
background: #ef4123;
height: 5px;
width: 10%;
margin-left: auto;
margin-right: auto;
}
.endorsed-link{
max-width: 48%;
display: inline-block;
margin: 10px;
}
.visual-composer-main-content .wrapper{
width: 100%;
max-width: 1260px;

}
.visual-composer-main-content{
background: white;
}


/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/
@media only screen and (max-width:1280px) { 
.line-mask{
display: none;
}

.featured-event-image-db
{
display: none;
}
.blogs-container-db, .webinars-container, .reports-container-db{
float: left;
}
.dashboard-event{
margin-right: 20px;
}
.publications-menu
{
  height: auto;
  background-color: #ededed;
  text-align: center;
  clear: both;
}

.wk-column1, .wk-column2{
width: 48%;
}



.p-menu li span {
    display:block;
    -webkit-transform: skew(0deg) !important;
  -moz-transform: skew(0deg) !important;
  -ms-transform: skew(0deg) !important;
  -o-transform: skew(0deg) !important;
  transform: skew(0deg) !important; 
}
.p-menu li {
    float: left;    
    list-style-type: none;
   
    border-right: 0px solid #ea5245;
    -webkit-transform: skew(0deg);
    -moz-transform: skew(0deg);
    -ms-transform: skew(0deg);
    -o-transform: skew(0deg);
    transform: skew(0deg);
    margin:-1px 0 0 -1px;  /*border-colapse*/
    height: 58px;

}
#CorporateCarousel .right.carousel-control{
right: 0px;
} #CorporateCarousel .left.carousel-control{
left: 0px;
}
.event-buttons{
position: static;
}
#CorporateCarousel .carousel-inner, #CorporateCarousel
{
  height: auto;
  width: auto;
  text-align: center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;

}
#CorporateCarousel .carousel-indicators
{
  bottom: -20px;
}

}


@media only screen and (max-width:1080px) { 
/*------------------------------------*\
    BREAKPOINT for MOBILE
\*------------------------------------*/

html body .fixedTop-main{
display: none;
}

.search-tooltip{
display: none;
}

.primary_nav_wrap{
display: none;
}
.mobile-nav-buttons{display: inline;}
.logo{margin-top: 25px;}
.logo-img
{
  width: 168px;
  height: 33px;
}

.mobile_nan_wrap{
clear:both;
}
.header{
background: #e95146;
height: 83px;
}
.mobile-nav-buttons{
float: right;
width: 170px;
}


.modal-header .close{
top: 20px;
right: 30px;
}
.press-releases, .blogs, .workgroup-cell-50, .workgroup-cell-50-2, .workgroup-cell-60, .workgroup-cell-40 {
width: 100%;
float: none;
max-width: 560px;
margin-left: auto;
margin-right: auto;
padding-left: 10px;
 padding-right: 10px;
}
 .blogs{
 padding-left: 0px;
 padding-right: 0px;
 }



.workgroup-cell-50{
height: auto;
min-height: 96px;

}
.featured-event-image
{
display: none;
}
.featured-event-content, .featured-event-container
{
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}
.events-cell:nth-of-type(3){
clear: both;

}
.events-cell{
min-width: 285px;
}
.mobey-events .carousel-indicators{
width: 570px;
position: relative;
left: 50%;
margin-left: -285px;
margin-top: 30px;
}


.events-main-content-box{
height: auto;
background: white;
padding-bottom: 40px;
margin-bottom: 40px;
}


.emcb-left{
float: none;
margin-left: 23px;
margin-right: 23px;
width: 90%;
max-width: 90%;
}
.emcb-right{
float: none;
margin-left: 23px;
margin-right: 23px;
width: 90%;
max-width: 90%;
}
.emcb-right-button{ margin-top: 20px; position: static;}
.emcb-left-button{ margin-top: 20px; position: static;}
.aka-mobey-day{
max-width: 400px;
margin-left: auto;
margin-right: auto;
padding-right: 0px;
padding-bottom: 50px;
margin-bottom: 10px;
background-position: center bottom
}
.small-event-image{
background: white;
position: relative;
height: auto;
}
.small-event-container{
max-width: 600px;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
clear: both;
}
.small-event-content {
width: 100%;
float: none;
position: static;
clear: both;
height: auto;
padding-bottom: 10px;
}
.small-event-triangle{
display: none;
}
.small-event-buttons{
position: absolute;
bottom: 10px;
right: 50px;
padding-top: 0px;
  float: none;
  width: 200px;
  padding-right: 26px;
}
.featured-event-content{
 background-color: #ffffff;

padding-bottom: 0px;
margin-bottom: 50px;
position: relative;
}
.small-event-meta
{
  position: static;
  clear: both;
}
.small-event-content {
padding-bottom: 90px;

}
.small-event-buttons{
position: absolute;
bottom: 10px;
left: 0px;
}
.small-event-content  .featured-date, .small-event-content  .featured-theme{
clear: both;
float: none;
}
.small-event-content {
padding-left: 10px;
}
.events-row{
display: inline-block;
margin-left:auto;
margin-right: auto;
}
.wk1, .wk2, .wk3{
width: 100%;
max-width: 100%;
float:none;
text-align: center;
height: 260px;
clear: both;

}
.wk-triangle2, .wk-triangle1{
height: 40px;
width: 100%;
float:none;
border:0px;
}
.wk-triangle1{
width: 0;
height: 0;
border-style: solid;
border-width: 42px 50% 0 50%;
border-color: #007bff transparent transparent ;

}
.workgroups-main-content-bottom{
height: auto;
}
.reports-container-db{
clear: both;
float: none;
margin-left: auto;
margin-right: auto;
}

.dashboard-event{
clear: both;
float: none;
margin-bottom: 20px;
width: auto;
}
.featured-event-content-db{
float: none;
}
.blogs-container-db, .webinars-container{
float: none;
margin-left: auto;
margin-right: auto;
}
.one-half{
float: none;
}
.second-half{
float: none;
margin-left: 0px;
}

.about-red-line1{
display:none;
}
.about-red-line2{
display: none;
}
.about-for-our{
width: 100%;
 margin-left: auto;
 margin-right: auto;
}
.organizeimg1, .organizeimg2{
width: 50%;
}
.organize-and-icon{
left: 50%;
}
#CorporateCarousel .carousel-inner, #CorporateCarousel
{
  height: auto;
  width: auto;
  text-align: center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;

}
#CorporateCarousel .carousel-inner .item{
}

#CorporateCarousel .carousel-indicators
{
  bottom: -20px;
}

.about-pbox
{

  margin: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  
}
.join-how-to-join
{
  height: auto;
  }

.wk-column1, .wk-column2 {
    max-width: 569px;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.about-pboxes {
  display: inline-block; 
   margin-left: auto;
   margin-right: auto;
    position: static;
}
.two-third, .one-third, .three-third{
float: none;
height: auto;
clear: both;
text-align: center;
width: 100%;
margin-left: auto;
margin-right: auto;
}
}

@media only screen and (max-width:768px) {
.content-half{
float: none; 
max-width: 750px;
margin-left:10px;
}
.sidebar-half{
  float: none; 
}
.pbpress-container .heading-div{
    height: auto;
}    

.member-news .news-container{
max-width: 345px;
margin-left:0px;
margin-right: 10px;
}


.banking-cell1, .banking-cell2,.banking-cell3,.banking-cell4{
max-width: 50%;
padding:0px;
height: 100px;
text-align: center;
display: table-cell;
color: white;
font-size: 14px;
text-transform: uppercase;
vertical-align: middle;
padding-left: 20px;
padding-right: 20px;
}
.banking-cell1{padding-left: 0px;}
.banking-cell2{padding-right: 0px;}
.banking-cell3{padding-left: 0px;}
.banking-cell4{padding-right: 0px;}

.banking-table{
margin-left: auto;
margin-right: auto;
padding-top: 40px;
}



.join-cell-50, .join-cell-50-3{
padding: 20px;
}

#CorporateCarousel.carousel .item{
border-left: solid 0px #d7d7d7;
}

.cm-box
{
  float: none;
  width: 126px;
  height: 100px;
  display: inline-block;

}
.reports-thumbnail {
    margin-right: 0px;
    margin-bottom: 0px;
}
.cm-box img, .reports-thumbnail img 
{
    object-fit: cover;
    height: 70px;
    width: 80px;
  }
.reports-thumbnail{
  max-width: 81px;
  height: auto;
}
 textarea {
max-width: 90%;
} 
  
.organize-ab1 {
position: absolute;
top:20px;
right: 0px;
max-width: 622px;
height: auto;
padding: 22px;
padding-left: 120px;
background-color: #ffffff;
z-index: 3;
}
.organize-ab2 {

position: absolute;
bottom:20px;
left: 0px;
max-width: 622px;
padding: 22px;
padding-right: 120px;
height: auto;
margin-top: 40px;
}
.organizeimg1, .organizeimg2{
width: 20%;
}
.organize-and-icon{
width: 42px;
  height: 45px;
  background-size: 42px 45px;
  top: 191px;
}
/* font changes */
.video-thumbnail{
display: none;
}

.publications-videos-webinars .content{
margin-left: 10px;

}
.blogs-container img.wp-post-image
{
  width: 80px;
  margin-bottom: 50px;
  }

.blogs-container, .pb-reports-container{
   display: flex;
}

.blog-thumb, .reports-thumbnail{
width:100px;
padding-right: 10px;
}

.blog-content-right{
 width: 100%;
}


.p-menu li, .p-menu{
margin:0;
padding:0;
float: none;
 width: 100%;
}
.p-menu li a
{
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 58px;
  text-align: center;
  color: #000000;
  padding-left: 10px;
  padding-right: 10px;
 
  text-transform: uppercase;
}



.wk-box div
{
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 13px;
  font-size: 14px;
}

.news-heading{
font-size: 16px;
}
.hero-text{
font-size: 16px;
padding-left: 30px;
    padding-right: 30px;
}

.gain-access-container {
     margin-bottom:41px;
   }  

.workgroups > .wrapper, .press-and-blog > .wrapper, .twitter-feed > .wrapper {
    padding-top: 20px;
    padding-bottom:20px;
    }

#loginModal .um-field-text, #loginModal .um-field-c, #loginModal .um-field-password {
    padding-left: 0px !important;
}

#loginModal .um .um-form input[type=text], #loginModal .um .um-form input[type=tel], #loginModal .um .um-form input[type=password], #loginModal .um .um-form textarea {
    width: 100%;
}
html .carousel-pbc .bpc{
background: transparent;
width: 100%;
float: none;
clear: both;
border:0;
padding-left: 30px;
    padding-right: 30px;
    height: auto;
padding-bottom: 0px; 
padding-top: 0px;   
}
html .carousel-pbc .bpc1, html .carousel-pbc .bpc2{
margin-top:0;
padding-bottom: 0px; 
padding-top: 0px;   
}
html .carousel-pbc .hero-buttons{
margin-top: 0;
}

html .carousel-pbc .bpc-divider{
width: 1px;
background: white;
opacity: 0.4;
display: none;
}

 .blogs .entry_author_image img{
width: 80px;
height: 105px; 
 }

.featured-event-information {
    padding-left: 20px;
    padding-right: 20px;
}

.indicator-button {
padding-left: 4px;
padding-right: 4px;
min-width: 63px;
}

.blogs-container{
height: auto;
}
.footer{
height: auto;
padding-top: 2px;
padding-bottom: 20px;
}

.footer-copyright{
position: static;
clear: both;
width: 100%;
max-width: 400px;
margin-top: 20px;
margin-left: auto;
margin-right: auto;
}
.footer-logo{
display: block;
margin-left: auto;
margin-right: auto;
clear: both;

}
.footer-social-media
{
  float: none;
  margin-top: 20px;
  padding-top: 8px;
  clear: both;
  text-align: center
}
.organize-box{
height: auto;

}

/* Line 2303 */
.about-pbox:nth-of-type(1)
{
  margin-left: 0px;
}

.benefits-bottom-box{
margin-top: 20px;
height: auto;
padding-bottom: 20px;
height: auto;
border-color: white;
}
.benefits-digital-database{
position:static;
width: 100%;
margin-top: 160px;
}
.benefits-presentation-archives
{
position:static;
width: 100%;

}
.benefits-3{
margin-top: 20px;
height: 124px;
background-position: center center;
} 


}
@media only screen and (max-width:570px) {
.wk1, .wk2, .wk3{
padding-left: 10px;
padding-right: 10px;
}
.warning-sign-right{
display: none;
background: transparent;

}
.warning-sign-left{
display: none;
background: transparent;
}


#registerModal .modal-body{
padding-left: 15px;
padding-right: 15px;
text-align: center;
}

.events-row {
max-width:285px;

}
.featured-heading {
    font-size: 34px;
   }
.featured-sub-heading {
    font-size: 24px;
    }
.join-cell-50, .join-cell-50-2, .join-cell-50-3, .join-cell-50-4{
width: 100%;
float: none; 
clear: both;
text-align: left;
}

.organize-ab1, .organize-ab2, .organize-and-icon  {
position: static;
padding: 10px;
clear: both;
text-align: left;
background-position: center center;
width: 100%;
margin-top: 0px;
}
.organize-and-icon  {
height: 80px;
}
.organizeimg1, .organizeimg2{
display: none;
}


.mobey-events .carousel-indicators{
width: 285px;
display: block;
position: relative;
left: 50%;
margin-left: -142.5px;

margin-right: auto;
text-align: center;
}
.members-only-diamond{
display: none;
}
.blogs-content p{
display: none;
}

}

@media only screen and (max-width:380px) {
.logo-img{
width: 127px;
    height: 25px;
margin-top: 6px;    
}    
}
@media only screen and (min-width:480px) {

}
@media only screen and (min-width:768px) {

}
@media only screen and (min-width:1024px) {

}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	   only screen and (min-resolution:144dpi) {

}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-webkit-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-moz-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
	margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
a img.alignnone {
	margin:5px 20px 20px 0;
}
a img.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.wp-caption {
	background:#FFF;
	border:1px solid #F0F0F0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center;
}
.wp-caption.alignnone {
	margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin:5px 20px 20px 0;
}
.wp-caption.alignright {
	margin:5px 0 20px 20px;
}
.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	max-width:98.5%;
	padding:0;
	width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}
.sticky {

}
.bypostauthor {

}

/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
	* {
		background:transparent !important;
		color:#000 !important;
		box-shadow:none !important;
		text-shadow:none !important;
	}
	a,
	a:visited {
		text-decoration:underline;
	}
	a[href]:after {
		content:" (" attr(href) ")";
	}
	abbr[title]:after {
		content:" (" attr(title) ")";
	}
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content:"";
	}
	pre,blockquote {
		border:1px solid #999;
		page-break-inside:avoid;
	}
	thead {
		display:table-header-group;
	}
	tr,img {
		page-break-inside:avoid;
	}
	img {
		max-width:100% !important;
	}
	@page {
		margin:0.5cm;
	}
	p,
	h2,
	h3 {
		orphans:3;
		widows:3;
	}
	h2,
	h3 {
		page-break-after:avoid;
	}
}
