/*
	Theme Name: Mobey 
	Theme URI: http://html5blank.com
	Description: Mobey theme, made from HTML5 Blank WordPress Theme
	Version: 1.4.3
	Author: Olli Makkonen Todd Motto (@toddmotto)
	Author URI: http://codens.com
	Tags: Blank, HTML5, CSS3

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/

/*------------------------------------*\
    MAIN
\*------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700,800');

/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
/* html element 62.5% font-size for REM use */
html {
	font-size:62.5%;

}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
  font-weight: 300;
  line-height: 1.56;
 background:  url('img/banner-tausta.jpg') repeat-x 0px 0px;
 /* background:  url('img/body-bg-mask.png') repeat-x 50% 0%; */
}
body.page-template-template-frontpage {
background: url('img/hero-bg.jpg') repeat-x 50% 0%;

}

/* clear */
.clear:before,
.clear:after {
    content:' ';
    display:table;
}

.clear:after {
    clear:both;
}
.clear {
    *zoom:1;
}
.center{
text-align: center;
}
.size-half{
width: 678px;
margin-left: auto;
margin-right: auto;
}

img {
	max-width:100%;
	vertical-align:bottom;
}
a {
color: #f31168;
	text-decoration:none;
}
a:hover {
  color: #ff0000;
text-decoration:none;
}
a:focus {
color: #ce326e;
text-decoration:none;
}
a:hover,
a:active {
	outline:0;
}

h1,h2,h3,h4{
font-weight: bold;
 color: #292929;
}
h1{
font-size: 34px;

}
h2{
font-size: 34px;
}
h3{
font-size: 26px;
margin-bottom: 10px;
}
h4{
font-size: 22px;
text-transform: uppercase;
font-weight: 600;
}
.white-text, .white, .white-text h1, .white-text h2, .white-text h3, .white-text h4{
color: white;
}
.right{
float: right;
}
.left{
float: left;
}
.bold{
font-weight: bold;
}
.caps{
text-transform: uppercase;
}
.align-center{
text-align: center;
}
.bigtext{
font-size: 22px;
}
.size30{
font-size: 30px;
}

.size26{
font-size: 26px;
}
.size24{
font-size: 24px;
}

.size20{
font-size: 20px;
line-height: 1.7;
}
.light{
font-weight: 300;
}
.middle{
vertical-align:middle;
}

.s50{
  -moz-transform:scale(0.5);
    -webkit-transform:scale(0.5);
    transform:scale(0.5);
}
.tt-none{
text-transform: none;
}


html .size14{
font-size: 14px;
}
.sans{
	font-family: 'Open Sans', sans-serif;
}
.center-margin{
display: inline.block;
margin-left: auto;
margin-right: auto;
}

.button, html .um .input[type=submit].um-button, html .um input[type=submit].um-button{

display: inline-block;
margin-left:10px;
margin-right: 10px;  
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  width: 212px;
  text-align: center;
  padding-top: 14px;
  text-transform: uppercase;
  padding-bottom: 14px;
    border-radius: 3px;
   background-size: 200% auto; 
border: none;

}



.primary, html .um .input[type=submit].um-button, html .um input[type=submit].um-button {
  background-image: linear-gradient(to right, #902e7a, #c7276f);

}

.secondary{
 background-image: linear-gradient(to right, #ff7800, #ffc600); 

}
.secondary:hover{
   color: #ffffff;
   text-decoration:none;
     background-image: linear-gradient(to right, #ff4b00, #ff8400);
}
.primary:hover {
   color: #ffffff;
   text-decoration:none;
    background-image: linear-gradient(to right, #5b2e90, #a427c7);
}

.small-button {
padding-left: 44px;
padding-right: 44px;
 font-size: 11px;
padding-top: 11px;
  text-transform: uppercase;
  padding-bottom: 11px;
  border-radius: 3px;
  background-image: linear-gradient(to right, #902e7a, #c7276f);
  color: white;
}
.thin-button{
width: auto;
}

.small-button:hover{
color: white;
 background-image: linear-gradient(to right, #5b2e90, #5b2e90);
}
.search{
margin-top: 40px;
margin-bottom: 30px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#b4b4b4;
}
::-moz-placeholder { /* Firefox 19+ */
  color:#b4b4b4;
}
:-ms-input-placeholder { /* IE 10+ */
  color:#b4b4b4;
}
:-moz-placeholder { /* Firefox 18- */
  color: #b4b4b4;
}

.search-submit{
padding: 32px;
padding-top: 10px;
padding-bottom:10px;
width: auto;
}
.search-input{
border: 2px solid white;
border-radius: 2px;
height: 32px;
color: black;
font-size: 14px;
line-height: 1.71;
background: white url('img/search-128-copy@2x.png') no-repeat 12px 11px;
background-size: 14px 13px;
padding-left: 36px;
padding-right: 10px;
width: 262px;
}
input[type="text"].search-input::-webkit-input-placeholder {
  color: #b4b4b4;
}

html body .fixedTop-main{
  position: fixed;
  right: 0;
  top: 0; 
  width: 100%;
height: 60px;
background-color: #e95146;
z-index: 150;
}



/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* wrapper */
.wrapper {
	max-width:1142px;
	width:95%;
	margin:0 auto;
	position:relative;
}
/* wrapper */
body.page-template-template-frontpage .wrapper {
	max-width:1220px;
}
/* header */
.header {

}
/* logo */
.logo {
float: left;
margin-top: 50px;
}
.logo-img {
width: 180px;
height: 33px;
}
/* nav */
.nav {
margin-top: 53px;
margin-left: 100px;
float: left;
width:  855px;
}

/* logo */
html body .fixedTop-main .logo {
float: left;
margin-top: 14px;
}

/* nav */
html body .fixedTop-main .nav {
margin-top: 13px;
margin-left: 100px;
float: left;
width:  855px;
}

.nav ul {margin: 0; padding: 0; 
	list-style-type: none; list-style-image: none; }
.nav li {display: inline; }
.nav li a, .login-button{

  font-size: 12px;
  font-weight: 800;

  
  color: #ffffff; 
  text-transform: uppercase;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 6px;
  padding-bottom: 6px;
  }
  
.nav li.menu-item-122 a{  
   border-radius: 2px;
 background-image: linear-gradient(to right, #902e7a, #c7276f);
    padding-left: 24px;
  padding-right: 24px;
}
.nav li.menu-item-122 a:hover{  
   color: #ffffff;
   text-decoration:none;
    background-image: linear-gradient(to right, #5b2e90, #a427c7);
}
.nav li.login-button, .nav li.logout-button a  {  
  background: url('img/lock.png') no-repeat 15px 50%;
  padding-left: 30px;
}
.nav li.login-button:hover { 
cursor: pointer;
}
.nav li.logout-button{
display: none;
}
.logged-in .nav li.login-button{
display: none;
}
.logged-in .nav li.logout-button{
display: inline;
}


.search-icon{
 background: url('img/search-128@2x.png') no-repeat 50% 55%;
 background-size: 13px 12px;
 width: 13px;
 height: 12px;
 padding:6px;
 padding-left: 16px;
 padding-right: 16px;
 display: inline;
 
}
.search-icon:hover{
cursor:pointer;
}
/* logo */
html body .fixedTop-main .nav li a{
  line-height: 300%;
}



/* sidebar */
.sidebar {

}
/* footer */
.footer {
  background: url('img/frontpage-background.png') repeat-x;
height: 122px;
width: 100%;
}
.footer .wrapper{
max-width: 1140px;
}
.footer-logo{
display: inline-block;
width: 166px;
height: 33px;
margin-top: 40px;
}
.footer-copyright{
display: inline-block;
margin-left: 28%;
margin-top: 40px;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  color: #acacac;
}

.footer-social-media{
float: right;
margin-top: 40px;
padding-top: 8px;
}
/*------------------------------------*\
    Frontpage
\*------------------------------------*/
#HeroCarousel{
height: 450px;
width: 100%;

}

div#HeroCarousel div.carousel-inner {
height: 450px;

}
div#HeroCarousel div.carousel-inner .item{
height: 350px;
}
div#HeroCarousel div.carousel-inner .item-inner{
height: 350px;
display: flex;
justify-content: center;
  flex-direction: column;
width: 542px;
 margin: auto;
}
div#HeroCarousel .carousel-inner .item, #EventCarousel .carousel-inner .item{

    width: 100%;
    padding: 0px;
}


div#HeroCarousel div.carousel-inner .item p, div#HeroCarousel div.carousel-inner .item h1{
line-height: 130%;

}
div#HeroCarousel div.carousel-inner .item p{
font-weight: 300;
}

.hero-indicators{
margin-top: 10px;
}
.hero-indicator{
display: inline-block;
}
.indicator-button{

min-width: 83px;

margin-left: 5px;
margin-right: 5px;
border-radius: 2px;
border: solid 1px #ffffff;
padding: 3px;
font-size: 9px;
  font-weight: bold;
padding-left:10px;
padding-right:10px;
}
.hero-indicator:hover{
cursor: pointer;
}
.indicator-dot {
margin-top: 14px; 
width: 6px; 
height: 6px; 
background: red; 
-moz-border-radius: 3px; 
-webkit-border-radius: 3px; 
border-radius: 3px;
opacity: 0.35;
  background-color: #ffffff;
  margin-left: auto; 
  margin-right: auto;
}
.red-dot{
width: 8px;
  height: 8px;
  -moz-border-radius: 4px; 
-webkit-border-radius: 4px; 
border-radius: 4px;
  margin-left: 2px;
  margin-right: 6px;
  background-color: #ff5400;
  float: left;
  margin-top: 8px;
}
.red-shout{
width: 18px;
  height: 8px;
  color: #ff5400;
    float: left;
  margin-top: 0px;
  font-weight: bold;
}

.hero-indicator.active .indicator-button{
  background-color: #ffffff;
 border: solid 1px #ffffff;
   color: #e55043;
}
.hero-indicator.active .indicator-dot{
opacity: 1;
}
.left.carousel-control{
width: 23px;
height: 19px;
background: url('img/nuoli-left.png') no-repeat;
opacity: 1;
}
.right.carousel-control{
width: 23px;
height: 19px;
background: url('img/nuoli-right.png') no-repeat;
opacity: 1;
}
.arrow-wrapper{
position: absolute;
top: 200px;
left: 50%;
width: 1100px;
margin-left: -550px;

}

.right.carousel-control:hover{
background: url('img/nuoli-hover-right.png') no-repeat;
}
.left.carousel-control:hover{
background: url('img/nuoli-hover-left.png') no-repeat;
}


.mobey-day-diamond{
position: absolute;
top: 578px;
left: 50%;
margin-left: -76px;
width: 145px;
height: 135px;
padding-top: 6px;
padding-left: 7px;
background: url('img/valkonen-tausta.png') no-repeat;
}
.mobey-day-diamond img{
width: 130px;
height: 126px;
}

#frontpage-hero .wrapper{
margin-top: 10px;
max-width: 100%;
width: 100%;
margin-bottom: 200px;
}
.hero-buttons{
margin-top: 10px;
}
.hero-text{
margin-top: 0px;
}

.maintext .wrapper{
max-width: 950px;
padding-bottom: 40px;
}

.join-mobey-forum{
padding-top: 20px;
padding-bottom: 20px;
color: white;
text-align: center;
  background-image:  linear-gradient(to left, #f54e4e, #cd4141);
}
.join-mobey-forum h3{
margin-bottom: 0px;
}
.join-mobey-forum p{
margin-bottom: 26px;
margin-top: 14px;
}
.mobey-events{
background: white;
}
.mobey-events .wrapper{
max-width: 1140px;
padding-top: 20px;


}
.featured-event-container{
margin-top: 40px;
position: relative;
border: 1px solid #e3e3e3;
width: 100%;
height: 437px;
background: white;
}
.featured-event-image{
width: 52.5%;
max-width: 600%;
height: 436px;
float: left;
}
.event-image-mask{
float: right;
}

.featured-event-content{
width: 47.5%;
height: 436px;
float: left;
margin:0;
padding:0;
}
.featured-event-heading{
margin:0;
padding:0;
  width: 100%;
  height: 136px;
padding-top: 16px;
padding-left: 25px;
  background: #59485b;
  background-image: url('img/mobey-event.diamond.png'); /* fallback */
  background-image: url('img/mobey-event.diamond.png'), linear-gradient(to left,#605086, #372366); /* W3C */
  background-repeat: no-repeat;
  background-position: 112% 60%;
}
.featured-event-heading-no-diamond{
margin:0;
padding:0;
  width: 100%;
  height: 136px;
padding-top: 16px;
padding-left: 25px;
  background: #59485b;
   background-image: linear-gradient(to left,#605086, #372366); /* W3C */
}

.featured-heading{
margin:0;
padding:0;
color: white;
font-size: 48px;
line-height: 120%;
text-transform: uppercase;
}
.featured-sub-heading{
margin:0;
padding:0;
color: white;
font-family: 'Open Sans', sans-serif;
font-size: 28px;
text-transform:uppercase;
line-height: 120%;
font-weight: 400;
}
.members-only-diamond{
position: absolute;
top: 10px;
height: 116px;
display: flex;
justify-content: center;
  flex-direction: column;
  text-align: center;
right: 10px;
color: white;
text-align: center;
text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  width: 120px;
  line-height: 120%;
}
.featured-event-information{
padding-left: 23px;
padding-right: 60px;
}
.featured-short-info{
padding-right: 30px;
}

.featured-theme, .featured-date{
display: inline-block;
border-radius: 2px;
background-image: linear-gradient(to left, #605086, #372366);
 font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  padding: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
margin-top: 16px;
text-transform: uppercase;
}
.featured-date{
margin-top: 9px;
margin-bottom: 0px;
}
.calendar{
float: left;
width:13px;
height: 13px;
margin-top: 3px;
margin-right: 10px;
background: url(img/calendar-icon.png) no-repeat;
}
.theme{
float: left;
width:13px;
height: 13px;
margin-top: 5px;
margin-right: 10px;
background: url(img/theme-icon.png) no-repeat;
}


.event-buttons .button{
margin-left: 20px;
margin-right: 0px;
}
.events-cell{
margin:0;
margin-top: 10px;
width: 25%;
max-width:285px;
height: 214px;
float: left;
background-repeat: no-repeat;
text-transform: uppercase;
font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  display: block;
}
.events-cell:hover{
cursor: pointer;
}

.passive-border{
height: 10px;
width: 100%;
background-image: linear-gradient(to right, #59485b, #382d39);
}
.passive-indicator, .active-indicator{
color: white;
padding: 38px;
padding-top: 32px;
text-align: center;
width:285px;
height: 204px;

}
.passive-indicator{
background: rgba(0, 0, 0, 0.52);
}
.active .passive-indicator{
background: rgba(0, 0, 0, 0.00);
}
.active .passive-border{
height: 10px;
width: 100%;
background-image:  linear-gradient(to right, #ff8400, #ffbd00);
}
.gain-access-container{
position: relative;
margin-bottom: 121px;
height: 127px;
}
.button-absolute{
bottom: 0%;
left: 50%;
position: absolute;
margin-left: -106px;
}

.gain-access {
margin-top: 63px;

text-align: center;
color: white;
height: 101px;
background-image: linear-gradient(to left, #605086, #372366);

}
.gain-access p{
font-size: 26px;
padding-top: 20px;
}

.workgroups, .twitter-feed{
background-color: #f3f3f3;
}
.diamond-left{
height: 101px;
background: url('img/diamond.png') no-repeat -40px 50%; 
background-size: 205px 200px;
float: left;
width: 205px;
font-size: 18px;
text-transform: uppercase;
text-align: center;
color: #ffffff;
font-weight: bold;
padding: 24px;
padding-top: 29px;
padding-right: 80px;
line-height: 120%;
}
.diamond-right{
height: 101px;
background: url('img/diamond.png') no-repeat  40px 50%;
background-size: 205px 200px;
height: 101px;
width: 205px;
float: right;
font-size: 18px;
text-transform: uppercase;
text-align: center;
color: #ffffff; 
font-weight: bold;
padding: 24px;
padding-top: 29px;
padding-left: 80px;
line-height: 120%;
}


.workgroups > .wrapper, .press-and-blog > .wrapper, .twitter-feed > .wrapper{
padding-top: 60px;
width: 1140px;
padding-bottom: 100px;
}
.workgroup-container {
width: 100%;
background: white;
padding: 0px;
}
.workgroup-cell-50{
width: 50%;

float: left;
padding: 50px;
text-align: center;
min-height: 396px;
}
.workgroup-cell-50-2{
width: 50%;
float: left;
padding: 0px;
padding-left: 20px;
text-align: center;
text-align: center;
background: url('img/creditcard1.jpg') no-repeat;
min-height: 396px;
}
.workgroup-cell-60{
clear: both;
width: 55%;
float: left;
padding: 50px;
color: white;
text-align: center;
min-height: 396px;
background: url('img/credit-1-viisto.png') no-repeat;
}
.workgroup-cell-40{
width: 40%;
float: left;
padding: 0px;
padding-left: 30px;
padding-top: 20px;
}

.banking-table{
display: table;
margin-top: 50px;
margin-bottom: 30px;
font-size: 22px;
  font-weight: 600;
  line-height: 1.27;
}
.banking-table-row{
display: table-row;
}

.banking-cell1, .banking-cell2,.banking-cell3,.banking-cell4{
width: 50%;
padding: 20px;
height: 100px;
text-align: center;
display: table-cell;
color: white;
font-size: 22px;
text-transform: uppercase;
vertical-align: middle;
}

.press-and-blog .wrapper{
padding-bottom: 60px;
}

.press-releases, .blogs{
width: 50%;
float: left;

}
.press-releases{
padding-right: 100px;
}

.news-container{
margin-bottom: 40px;
padding-bottom: 30px;
border-bottom: 1px solid #d0d0d0;
}

.news-heading{
 font-size: 18px;
  font-weight: 600;

}
.heading-div{
background: url('img/press-list-icon.png') no-repeat 21px 50%;
padding-left: 65px;
}
.news-date, .news-link{
padding-left: 65px;
}
.news-date, .blogs-date{
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  color: #878787;
}
.news-date{
padding-top: 3px;
padding-bottom: 3px;
}
 .news-link{
  font-size: 16px;
  line-height: 1.63;
  color: #007dff;
}
.news-heading{
 color: #000000;
}
.news-heading:hover{
  color: #444444;
}
.entry_author_image{
float: left;
margin-right: 15px;
margin-bottom: 26px;
clear: both;
}
.blog-indicator, .report-indicator, .video-indicator, .webinar-indicator, .inactive-indicator, .press-indicator {
  border-radius: 1px;
  background: #f31c6a;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  padding:3px;
  padding-left: 18px;
  padding-right: 18px;
   font-size: 11px;
   font-weight: 700;
  }
.report-indicator {
  background-color: #ed5b5b;
}
.video-indicator {
  background-color: #d127aa;
}
  
  .webinar-indicator {
  background-color: #9333a8;
}
  .inactive-indicator {
  background-color: #787878;
  }
  
  .press-indicator {  
  background-color: #d13b3b;
  }
  
.blog-heading-div{
padding-top: 6px;
padding-bottom: 0px;
}

.blogs-container{
height: 240px;
padding-bottom: 20px;
border-bottom: 1px solid #d0d0d0;
margin-bottom: 20px;
}
html .div2{
border-bottom: 0px;
margin-bottom: 0;
}
.blogs-author{
font-size: 14px;
  font-weight: 300;
  font-style: italic;
} 
.blogs-content{
font-size: 14px;
}
.blog-link{
float: right;
font-weight: 14px;
}
.reports-container{
padding-bottom: 20px;
border-bottom: 1px solid #d0d0d0;
margin-bottom: 20px;
}

.grid-item{
width: 370px;
float: left;
margin-left: 8px;
margin-right: 8px;
min-height: 200px;
}
.social-feed-element{
min-height: 200px;
}
/*------------------------------------*\
    DASHBOARD
\*------------------------------------*/
.dashboard-header .wrapper{
padding-bottom: 30px;
}
.dashboard-header h1{
margin-top: 0px;
margin-bottom: 0px;

}

.dashboard-header a{
color: white; 
text-decoration: underline;
}
.dashboard-header a:hover{
color: white; 
text-decoration: none;
}
.dashboard-logout{
float: right;
margin-right: 140px;
}
.one-third{
float: left;
width: 390px;
margin-right: 15px;
margin-top: 50px;
}

.two-third{
margin-top: 60px;
float: left;
width: 360px;
margin-right: 15px;
 border-radius: 3px;
height:64px;  
  border: solid 1px #ffffff;
  text-align: center;
}

.three-third{
margin-top: 60px;
float: left;
width: 360px;
border-radius: 3px;
height:64px;
border: solid 1px #ffffff;
text-align: center;
}
.dashboard-header .dash-link{
display: block;
width: 100%;
line-height: 64px;
  font-size: 14px;
  font-weight: bold;
text-transform: uppercase;
text-decoration: none;
}
.dashboard-header .dash-link:hover{
color: white;
text-decoration: none;
}

.dashboard-items{
padding-top: 27px;
background: #f3f3f3;
padding-bottom: 139px;
}

.dashboard-items .wrapper{
width: 1138px
}
.dashboard-event{
width: 763px;
float: left;
background: white;
border: solid 1px #e3e3e3;
}
.dashboard-event-heading{
 height: 46px;
  background-image: linear-gradient(to left, #59485b, #382d39);
   font-size: 22px;
  font-weight: bold;
  color: white;
  line-height:  46px;
  padding-right: 21px;
  padding-left: 21px;
}
.deh-link{
color: white; 
text-decoration: underline;
float: right;
font-size: 14px;

}
.deh-link:hover{
text-decoration: none;
}
.featured-event-image-db{
width: 261px;
float: left;
height: 260px;
}
.featured-event-content-db{
float: left;
padding-left: 20px;
width: 500px;
}
.featured-heading-db{
font-size: 28px;
  font-weight: bold;
  color: #272727;
  margin-top: 10px;
  margin-bottom:0;
  text-transform: uppercase;
  }
  

.featured-event-content-db .featured-date, .featured-event-content-db .featured-theme{
display: inline-block;
font-size: 11px;
}
.featured-event-content-db .featured-theme{
margin-left: 10px;
}
.reports-container-db{
float: right;
padding-bottom: 0;
}
.one-third-db-container{
width: 360px;
background: white;

}
.reports-container-db .news-container, .webinars-container .news-container{
padding-left: 22px;
padding-right: 22px;
margin-bottom: 0px;
margin-top: 14px
}
.blogs-container-db .blog-container{
margin: 0;
padding: 0;
clear: both;
padding-right: 22px;
border-bottom: solid 1px #e5e5e5;
}
.blogs-container-db .blog-container .heading-div-db{
padding-top: 14px
}

.reports-container-db .news-date, .webinars-container .news-date, .blogs-container-db .news-date
{

  padding-left: 0px;
}
.heading-div-db{
padding-bottom: 10px;
}
.webinars-container{
float: left;
width: 374px;
margin-top: 14px;
}
.blogs-container-db{
float: left;
margin-left: 15px;
width: 373px;
margin-top: 14px;
}
.blog-container .entry_author_image{
margin-bottom: 0;
}
.blog-container .blogs-content p{
margin-bottom: 0;
margin-top: 0;
 font-size: 12px;
}
.upcoming-div-db{
font-size: 14px;
  font-weight: bold;
color: #f8a96a;
}
.future, .future .news-heading {color: #bebebe;}

/*------------------------------------*\
    Basic page
\*------------------------------------*/

.basic-header .wrapper{
padding-top: 50px;
padding-bottom: 60px;
}
.basic-header h1{
margin-top: 10px;
margin-bottom: 10px;

}

.basicpage-main-content{
background: white;
}

/*------------------------------------*\
    Workgroups
\*------------------------------------*/
.workgroups-main > .wrapper{
padding-top: 20px;
width: 900px;
padding-bottom: 60px;
}

.workgroups-main-red > .wrapper{
width: 700px;
padding-bottom: 50px;
padding-top: 50px;
}
.workgroups-main-content-bottom{
height: 405px;
  background-color: #f4f4f4;
margin: 0;
padding:0;
}
.workgroups-main-content-bottom > .wrapper{
max-width: 1280px;
margin-top: 0;
margin-bottom: 0;
padding:0;
}
.workgroups-main-content-bottom > .wrapper h4{
margin-top: 0px;
margin-bottom: 10px;
}

.wk1{
float: left;
width: 400px;
padding: 50px;
padding-left: 70px;
padding-right: 70px;
text-align: center;
height: 405px;
}
.wk2{
float: left;
width: 400px;
padding: 50px;
padding-left: 70px;
padding-right: 70px;

text-align: center;
background: white;
height: 405px;
}
.wk3{
float: left;
width: 400px;
padding: 50px;

padding-left: 70px;
padding-right: 70px;
text-align: center;
height: 405px;
}
.wk-triangle1{
float: left;
border-top: 202px solid #ffffff; 
border-left: 40px solid #f4f4f4; 
border-bottom: 202px solid #ffffff;
}
.wk-triangle2{
float: left;
border-top: 202px solid #f4f4f4; 
border-left: 40px solid white; 
border-bottom: 202px solid #f4f4f4;
}
.wimg2 {
margin-top:20px;
margin-bottom:20px;
}

.wimg3{
margin-top:17px;
margin-bottom: 17px;
}
.wk-topwrapper{
width: 660px; 
text-align: center;
margin-left: auto;
margin-right: auto;
padding-bottom: 40px;
}
.workgroups-current-workgroups .wrapper{
padding-top: 30px;
padding-bottom: 56px;
}

.wk-box1{
background: url('img/banking@2x.jpg') no-repeat;
margin-bottom: 1px;
}
.wk-box2{
background: url('img/photo@2x.jpg') no-repeat;
margin-bottom: 1px;
margin-left: 1px;
}
.wk-box3{
background: url('img/layer-936@2x.jpg') no-repeat;
}
.wk-box4{
background: url('img/layer-935@2x.jpg') no-repeat;
margin-left: 1px;
}
.wk-box{
float: left;
width: 568px;
height: 413px;
background-size: 100% 100%;
display: flex;
justify-content: center;
  flex-direction: column;
  text-align:center;
  color: white;
 -webkit-transition: height 0.5s ease-out; /* Safari */
 transition: height 0.5s ease-in-out;

}

.wk-box-open{
height: 826px;
}
.wk-box > .long{

height: 88px;
overflow: hidden;
 -webkit-transition: height 0.5s; /* Safari */
 transition: height 0.5s;

}

.wk-box-open > .long{
display: block;
height: 520px;
}

.wk-box .button{
margin-left: auto;
margin-right: auto;
}


.wk-box div{
padding-left: 125px;
padding-right: 125px;
margin-top: 13px;
}

.wk-box .long{
margin-top: 0px;
}

.wk-box h3{
padding-left: 50px;
padding-right: 50px;
color: white;
margin-top: 0px;
margin-bottom: 0px;
}
.workgroups-access{
background: white;
}

.workgroups-access .wrapper{
width: 660px;
padding-top: 30px;
padding-bottom: 56px;
text-align: center;
}

.workgroups-arrow{
background: url('img/workgroups-more.png') no-repeat center center;
width: 35px;
height: 23px;
margin-left: auto;
margin-right: auto;
padding-top: 18px;
padding-bottom: 18px;
}
.workgroups-arrow:hover{
cursor: pointer;
}

.wk-box-open .workgroups-arrow{
background: url('img/workgroups-less.png') no-repeat center center;
}



/*------------------------------------*\
	Publications template
\*------------------------------------*/
.publications-menu{
  height: 58px;
  background-color: #ededed;
}
.publications-menu .wrapper{

text-align: center;
}
.p-menu li {
    float: left;    
    list-style-type: none;
   
    border-right: 2px solid #ea5245;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg);
    margin:-1px 0 0 -1px;  /*border-colapse*/
    height: 58px;

}
.p-menu li:last-child {
border-right:0px solid;
}
.p-menu li a{
display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 58px;
  text-align: center;
  color: #000000;
     padding-left: 70px;
    padding-right: 70px;
    text-transform: uppercase;
}
.p-menu li a.pbb:hover, .mobey-forums-blog-pb .p-menu li a.pbb{
background-color: #f31c6a;
color: white;
}
.p-menu li a.pbp:hover, .press-releases-pb .p-menu li a.pbp{
background-color: #d13b3b;
color: white;
}
.p-menu li a.pbv:hover, .videos-pb .p-menu li a.pbv{
background-color: #d127aa;
color: white;
}
.p-menu li a.pbw:hover, .webinars-pb .p-menu li a.pbw{
background-color: #9333a8;
color: white;
}
.p-menu li a.pbr:hover, .whitepapers-pb .p-menu li a.pbr{
background-color: #d13b3b;
color: white;
}

.p-menu li span {
    display:block;
    -webkit-transform: skew(-20deg) !important;
  -moz-transform: skew(-20deg) !important;
  -ms-transform: skew(-20deg) !important;
  -o-transform: skew(-20deg) !important;
  transform: skew(-20deg) !important; 
}
.publications-reports-blogs{
background: white;
}
.publications-reports-blogs .wrapper{
padding-top: 40px;
padding-bottom: 40px;
}
.reports-thumbnail { height: 148px; width: 165px; overflow: hidden;
float: left;
margin-right: 15px;
margin-bottom: 15px;
 }
.reports-thumbnail img{
object-fit: cover;
height: 148px;
width: 165px;
}
.one-half{
float: left;
width: 550px;
}
.second-half{
float: left;
width: 550px;
margin-left: 30px;
}
.pb-reports-container{
padding-bottom: 15px;
border-bottom: 1px solid #d0d0d0;
margin-bottom: 15px;
min-height: 168px;
}
.blogs-content, .blogs-date{
margin-top: 8px;
margin-bottom:0;
padding:
}
.blogs-content p{
margin:0;
}
.publications-videos-webinars{
 background-color: #f3f3f3;
}
.publications-videos-webinars .wrapper{
padding-top: 40px;
padding-bottom: 60px;
}
.vw-container{
background-color: #ffffff;
box-shadow: 0px 1px 1px 0 rgba(7, 10, 8, 0.15);
margin-bottom: 8px;
 min-height: 123px;
 position: relative;
}
.vw-container .content{
padding: 14px;
padding-left: 0;
}

.vw-container .news-heading{
font-size: 16px;

}

.video-thumbnail { height: 142px; width: 218px; overflow: hidden;
float: left;
margin-right: 15px;
margin-bottom: 15px;
position: relative;
 }
.video-thumbnail img{
object-fit: cover;
height: 142px;
width: 218px;
} 
 
.play{
position: absolute;
z-index: 1;
top: 45%;
left: 45%;
 width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  
  border-left: 31px solid #d2d2d2;
opacity: 0.8;
}
.w-dot{
position: absolute;
  width: 9px;
  height: 9px;
  background-color: #b44a9c;
  top: 45%;
  left: 37px;
}
.future .w-dot{
background-color: #909090;
  }
.w-content{
padding: 14px;
padding-left: 82px;
}
.w-content .news-date{
  padding-left: 0px;
  }
.w-content .heading-div-db{
margin-top: 8px;  
padding-bottom: 0;
  
  }
.vw-container .heading-div-db, .vw-container .blog-heading-div{
height: 52px;
overflow: hidden;
margin:0;
margin-top:8px;
}
.download-link{
margin-top: 8px;
font-size: 14px;
}
.publications-press-releases .wrapper{
padding-top: 40px;
padding-bottom: 60px;
text-align: center;
} 
.pbpress-container{
width: 370px;
float: left;
text-align: left;
}
.pbpress-container .heading-div{
height: 92px;
overflow: hidden;
margin:0;
background: url('img/press-list-icon.png') no-repeat 21px 20px;
}


/*------------------------------------*\
	category template
\*------------------------------------*/
  
.nav-filter{
list-style-type: none;
margin-left: 0;
padding-left: 0;
margin-top: 8px;
margin-bottom: 8px;
}
.nav-filter li{
background-color: #a4a4a4;
display: block;
margin-left: 0;
padding-left: 0;
margin-bottom: 6px;
text-align: center;
padding-left: 5px;
padding-right: 5px;
}
.nav-filter li.active{
background-color: #ed5b5b;
display: block;
}
.nav-filter li a, .nav-filter li a:hover{
  font-size: 11px;
  font-weight: bold;
 color: #ffffff;
 display: block;
 padding-top: 6px;
 padding-bottom: 6px;
} 
.sidebar-half{
font-size: 14px;
  font-weight: bold;
  color: #545454;
  text-transform: uppercase;
  float: left;
  width: 180px;
} 
.all-tags{
font-size: 14px;
float: right;
color: #f31168;
text-transform: none;
}
.content-half{
float: left; 
width: 750px;
margin-left:31px;
}
.intro{
border-left: 5px solid #ed5b5b;
padding-left: 35px;
margin-bottom: 40px;
}
.sidebar-half h2{
text-transform: none;
margin-top: 10px;
line-height: 120%;
}

/*------------------------------------*\
    EVENTS page
\*------------------------------------*/


.events-main > .wrapper{
padding-top: 20px;
max-width: 700px;
padding-bottom: 20px;
}
.events-main p{
font-size: 20px;
}

.events-main-content-bottom{
  background-color: #ffffff;
margin: 0;
padding:0;
}
.events-main-content-bottom > .wrapper{
width: 1140px;
margin-top: 0;
margin-bottom: 0;
padding:0;
padding-bottom: 120px;
}
.aka-mobey-day{
background: url('img/mobey-day-diamond-2-web.png') no-repeat center right;
padding-right: 190px;
}

.events-main-content-box{
position: relative;
width: 1140px;
  height: 255px;
  border-radius: 2px;
background: url('img/events-page-and-bar.png') no-repeat center center;
  border: solid 1px #dadada;
  margin-bottom: 100px;
}
.emcb-left{
text-align: center;
width: 410px;
float: left;
margin-left: 73px;
}
.emcb-right{
text-align: center;
width: 410px;
float: right;
margin-right: 73px;
}
.emcb-right-button{
position: absolute;
left: 171px;
bottom: -26px;
}

.emcb-left-button{
position: absolute;
right: 171px;
bottom: -26px;
}
.events-cell-link{
position: relative;
}
.up-next{
position: absolute;
top: 17px;
right: 6px;
padding: 4px;
padding-left: 10px;
padding-right: 10px;
 background-color: #f1475a;
  font-size: 11px;
text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
  color: #ffffff;
}

.events-open-events{
background-color: #f3f3f3;
}

.events-open-events > .wrapper{
padding-top: 20px;
width: 1140px;
padding-bottom: 130px;

}
.events-open-events .main-text, .events-member-events .main-text{
max-width: 678px;
margin-left: auto;
margin-right: auto;
font-size: 20px;
  font-weight: 300;
  text-align: center;
  color: #000000;
}

.events-member-events > .wrapper{
padding-top: 20px;
width: 1140px;
padding-bottom: 130px;
}
.small-event-container{
width: 100%;
margin-top: 20px;
}

.small-event-image{
background-repeat: no-repeat;
background-position: center right;
width: 100%;
}
.small-event-content{
 background-image: linear-gradient(to left, #59485b, #382d39);
width: 52.6%;
float: left;
padding: 30px;
padding-bottom:34px;
padding-left: 55px;
color: white;
text-transform: uppercase;
font-size: 18px;
height: 190px;
  text-align: left;
  color: #ffffff;
position: relative;
}
.small-event-meta{
position: absolute;
}

.small-event-buttons{
padding-top:116px;
float: right;
width: 44%;
padding-right: 26px;
}
.small-event-buttons a{
float: right;
}


.small-event-triangle{
float:left;
width: 0;
height: 0;
border-style: solid;
border-width: 190px 0 0 26px;
border-color: transparent transparent transparent #59485b;
}
.small-event-heading{
margin:0;
padding:0;
color: #ffffff;
}
.small-event-content .featured-theme{
float: left;
background-image: linear-gradient(#f12828, #f12828), linear-gradient(to left, #59485b, #382d39);
margin-top: 9px;

}
.small-event-content .featured-date{
float: left;
background-image: linear-gradient(#f12828, #f12828), linear-gradient(to left, #59485b, #382d39);
margin-left: 10px;
margin-top: 9px;
}

/*------------------------------------*\
    ABOUT
\*------------------------------------*/

.about-main{

}
.about-main .wrapper{
padding-top: 40px;
padding-bottom: 40px;
max-width: 1000px;
}

div#pg-767-1.panel-grid.panel-no-style > div#pgc-767-1-0.panel-grid-cell, div#pg-767-1.panel-grid.panel-no-style > div#pgc-767-1-1.panel-grid-cell, div#pg-767-1.panel-grid.panel-no-style > div#pgc-767-1-2.panel-grid-cell{
  border: solid 1px #dadada;
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 420px;
}

html img.strives-to-img{
margin-top: 40px;
margin-bottom: 40px;
}
.about-red-line1{
margin-top: 36px;
  width: 164px;
  height: 6px;
  background-image: linear-gradient(to right, #af0063, #f31168);
  float: left;
}
.about-red-line2{
margin-top: 36px;
 width: 379px;
  height: 6px;
  background-image: linear-gradient(to right, #f31168 25%, #f31168);
  float: left;
}
.about-for-our{
 width: 422px;
 float: left;
 font-size: 26px;
 margin-left: 16px;
 margin-right: 16px;
}
.about-we-organize{
background-color: #f3f3f3;
}
.about-we-organize .wrapper{
max-width: 1000px;
padding-bottom: 56px;
padding-top: 40px;
}
.organize-box{
position: relative;
max-width: 1000px;
height: 432px;
}
.organizeimg1{
position: absolute;
top: 0px;
left: 0px;
z-index: 5;
}
.organizeimg2{
position: absolute;
bottom: 0px;
right: 0px;
z-index: 5;
}

.organize-ab1 {
position: absolute;
top:20px;
right: 0px;
width: 622px;
height: 186px;
padding: 42px;
padding-left: 280px;
background-color: #ffffff;
z-index: 3;
}
.organize-ab2 {
position: absolute;
bottom:20px;
left: 0px;
width: 622px;
height: 186px;
padding: 42px;
padding-right: 280px;
background-color: #ffffff;
z-index: 3;
text-align:right;
}
.organize-ab1 h3, .organize-ab2 h3{
margin:0;
}
.organize-and-icon{
z-index: 18;
background: url('img/and-icon.png') no-repeat center center;
width: 84px;
height: 89px;
position: absolute;
top:171px;
left: 512px;
}
.about-publications .wrapper{
position: relative;
padding-top: 40px;
padding-bottom: 60px;
max-width: 1000px;
}
.line-mask{
position: absolute;
background: url('img/road-mask.png') no-repeat center center;
width: 1140px;
height: 394px;
top: -70px;
right: -70px;
}
.workgroups-meet{
margin-top:60px;
font-size: 18px;
}
.about-pboxes{
margin-top: 40px;
margin-bottom: 130px;
}
.about-pbox{
float: left;
margin-left: 12px;
width: 190px;
  height: 116px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #dadada;
  text-transform: uppercase;
 font-size: 16px;
  font-weight: 600;
  color: #474747;
  text-align: center;
  padding-top: 70px;
}
.about-pbox:nth-of-type(1){
margin-left: 0px;
}
.about-pbox1{
background: url('img/blog@2x.png') no-repeat center 30px;
background-size: 26px 25px;
}
.about-pbox2{
background: url('img/press@2x.png') no-repeat center 30px;
background-size: 27px 21px;
}
.about-pbox3{
background: url('img/reports@2x.png') no-repeat center 30px;
background-size: 19px 25px;
}
.about-pbox4{
background: url('img/videos@2x.png') no-repeat center 30px;
background-size: 19px 23px;
}
.about-pbox5{
background: url('img/webinars@2x.png') no-repeat center 30px;
background-size: 25px 23px;
}
.open-publications{
margin-top: 36px;
text-align: center;
font-size: 26px;
}
.about-picons{
padding-left: 260px;
padding-right: 260px;
margin-top: 40px;
}
.about-board {background-color: #f3f3f3;}

.about-board .wrapper{
position: relative;
padding-top: 40px;
padding-bottom: 60px;
max-width: 1150px;

}

.boardbox{
width: 281px;
  height: 375px;
float: left;
position: relative;
padding: 26px;
padding-right: 0;
text-align: left;
color: white;
margin: 3px;
}
.name{
 font-size: 22px;
  font-weight: bold;
}
.bank{
 font-size: 18px;

}

.jordi {
background: url('img/boardmembers/jordi.jpg') no-repeat center center;
}
.potrait{
background: url('img/boardmembers/potrait.jpg') no-repeat center center;
}
.maikki{
background: url('img/boardmembers/maikki.jpg') no-repeat center center;
}
.laura{
background: url('img/boardmembers/laura.jpg') no-repeat center center;
}
.shalini{
background: url('img/boardmembers/shalini.jpg') no-repeat center center;
}

.bb-content{
position: absolute;
bottom: 20px;
}
.bb-extra-info{
border-top: solid 1px #ffffff;
padding-top: 10px;
margin-top: 6px;
font-family: OpenSans;
  font-size: 14px;
  line-height: 1.36;
  text-align: left;
  color: #ffffff;
  margin-right: 26px;
display: none;
}
.bb-button{
position: absolute;
width: 16px;
height: 15px;
top:15px;
right: 15px;
background: url('img/plus.png') no-repeat center center;
}
.bb-button:hover{
cursor: pointer;
}

.more-info .bb-button{
background: url('img/close.png') no-repeat center center;
}
.executive-team{
max-width: 880px;
margin-left: auto;
margin-right: auto;
}

.cm-box {
float: left;
  width: 189px;
  height: 150px;
  background-color: #ffffff;
  border: solid 1px #d7d7d7;
  display: flex;
justify-content: center;
  flex-direction: column;
margin-bottom: -1px;
margin-left: -1px;
}




#CorporateCarousel .right.carousel-control{
background: url('img/red-nuoli.png') no-repeat center center;
width: 23px;
height: 19px;
top: 220px;
right: -70px;
}
#CorporateCarousel .left.carousel-control{
background: url('img/red-nuoli-left.png') no-repeat center center;
width: 23px;
height: 19px;
top: 220px;
left: -70px;
}
#CorporateCarousel .right.carousel-control:hover{
background: url('img/red-nuoli-hover.png') no-repeat center center;
}
#CorporateCarousel .left.carousel-control:hover{
background: url('img/red-nuoli-hover-left.png') no-repeat center center;
}
#CorporateCarousel .carousel-inner{
height: 500px;
}
#CorporateCarousel.carousel .item{
width: 100%;
border-left: solid 1px #d7d7d7;
}

#CorporateCarousel .carousel-indicators
{
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0px;
  margin-left: -30%;
  text-align: center;
  list-style-type: none;
  list-style-image: none;
  list-style-position: outside;
}
#CorporateCarousel .carousel-indicators li
{
  display: inline-block;
width: 8px;
  height: 8px;
  margin-top: 1px;
  margin-right: 8px;
  margin-bottom: 1px;
  margin-left: 8px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: 0px solid black;
  background-color: #bbbbbb;
  border-radius: 10px;
}
#CorporateCarousel .carousel-indicators li.active{

  background-color: #f31168;
}
.about-member-news .wrapper{
max-width: 1180px;

}

.member-news .news-container{
width: 345px;
height: 220px;
float: left;
border-bottom: 0px;
margin-bottom:10px;
margin-left:20px;
margin-right: 20px;
}

/*------------------------------------*\
    Join page
\*------------------------------------*/
.member-news{
margin-top: 50px;
}
.join-main{
background: #ffffff url('img/polygon-tausta.jpg') no-repeat top center;
}
.join-main .wrapper{
padding-top: 60px;
max-width: 600px;
padding-bottom: 100px;
}
.join-register{
background-color: #f3f3f3;
}
.join-register .wrapper{
padding-top:10px;
padding-bottom:40px;
}

.join-cell-50{
width: 50%;
margin:0;
float: left;
padding: 40px;
padding-top: 30px;
text-align: center;
min-height: 345px;
text-align: left;
padding-left:84px;
}
.join-cell-50-2{
margin:0;
width: 50%;
float: left;
padding: 0px;
padding-left: 20px;
text-align: center;
text-align: center;
background: url('img/join-crowd.jpg') no-repeat;
min-height: 345px;
display: flex;
justify-content: center;
  flex-direction: column;
}
.join-cell-50-3{
width: 50%;
margin:0;
float: left;
padding: 40px;
padding-top: 30px;
padding-right:84px;
text-align: center;
min-height: 345px;
text-align: right;
}
.join-cell-50-4{
width: 50%;
margin:0;
float: left;
padding: 0px;
padding-left: 20px;
text-align: center;
text-align: center;
background: url('img/join-crowd.jpg') no-repeat;
min-height: 345px;
display: flex;
justify-content: center;
  flex-direction: column;
}
.hexagon{
width: 110px;
height: 126px;
margin-left: auto;
margin-right: auto;
}

.benefits-bottom-box {
  width: 100%;
  height: 313px;
  border-radius: 2px;
  border: solid 1px #dadada;
  position: relative;
  margin-top: 56px;
  margin-bottom: 40px;
}
.benefits-digital-database{
top: 50px;
left:100px;
background: url('img/digital-wallet-database.png') no-repeat top center;
background-size: 139px 33px;
padding-top: 40px;
width: 340px;
position: absolute;
}
.benefits-presentation-archives{
background: url('img/presentation-archive.png') no-repeat top center;

background-size: 87px 46px;
width: 340px;
position: absolute;
padding-top: 40px;
top: 50px;
right:100px;
position: absolute;
}
.benefits-3{
position: absolute;
top: 0px;
left: 50%;
width: 110px;
height: 312px;
background: url('img/3.png') no-repeat top center;
margin-left: -55px;
}

.join-how-to-join{
height: 405px;
  background-color: #f4f4f4;
margin: 0;
padding:0;
}
.join-how-to-join > .wrapper{
max-width: 1280px;
margin-top: 0;
margin-bottom: 0;
padding:0;
}
.jimg2{
margin-bottom: 16px;
}
.jimg3{
margin-bottom: 7px;
}

/*------------------------------------*\
    Modal
\*------------------------------------*/

.modal-dialog{
margin-top: 80px;
}
.modal-content{
border-radius: 0;
}
.modal-header{
background: url('img/banner-tausta.jpg') no-repeat top center;
color: white;
text-align: center;
border-bottom-width: 0px;
position: relative;
}
.modal-header h2{
color: white;
padding: 20px;
}
.modal-header .close{
position: absolute;
top: -30px;
right: -42px;
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  opacity: 1;
  text-shadow: 0;
}
.um-login .um-alt{display: none;}

.um-field-checkbox-state{
display: none;
}
.um-field-checkbox{
background: url('img/unselected.png') no-repeat 0px 6px;
}

.um-field-checkbox.active{
background: url('img/selected.png') no-repeat 1px 7px;
}
html .um-field-checkbox-option, html .um-field-radio-option {
    margin-left: 20px;
    font-size: 13px;
     font-weight: 300;
}
#loginModal .um-half{
text-align: center;
}

#loginModal .um .um-form input[type=text], #loginModal .um .um-form input[type=tel], #loginModal .um .um-form input[type=password], #loginModal .um .um-form textarea{
width: 308px;
  height: 35px;
  border-radius: 2px;
  border: solid 1px #c2c2c2 !important; 
}
#loginModal .um-field-text, #loginModal .um-field-c, #loginModal .um-field-password{
padding-left: 70px !important;
}
#loginModal .modal-content {
    /* new custom width */
    max-width: 560px;
    }

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (min-width:320px) {

}
@media only screen and (min-width:480px) {

}
@media only screen and (min-width:768px) {

}
@media only screen and (min-width:1024px) {

}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	   only screen and (min-resolution:144dpi) {

}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-webkit-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-moz-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
	margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
a img.alignnone {
	margin:5px 20px 20px 0;
}
a img.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.wp-caption {
	background:#FFF;
	border:1px solid #F0F0F0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center;
}
.wp-caption.alignnone {
	margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin:5px 20px 20px 0;
}
.wp-caption.alignright {
	margin:5px 0 20px 20px;
}
.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	max-width:98.5%;
	padding:0;
	width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}
.sticky {

}
.bypostauthor {

}

/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
	* {
		background:transparent !important;
		color:#000 !important;
		box-shadow:none !important;
		text-shadow:none !important;
	}
	a,
	a:visited {
		text-decoration:underline;
	}
	a[href]:after {
		content:" (" attr(href) ")";
	}
	abbr[title]:after {
		content:" (" attr(title) ")";
	}
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content:"";
	}
	pre,blockquote {
		border:1px solid #999;
		page-break-inside:avoid;
	}
	thead {
		display:table-header-group;
	}
	tr,img {
		page-break-inside:avoid;
	}
	img {
		max-width:100% !important;
	}
	@page {
		margin:0.5cm;
	}
	p,
	h2,
	h3 {
		orphans:3;
		widows:3;
	}
	h2,
	h3 {
		page-break-after:avoid;
	}
}
